<div class="wrapper goals-step">
  <div class="title review">
    <h2><%= t :rate, :scope => [:messages, :match] %></h2>
  </div>

  <div class="input">
    <div class="question">
      <h3><%= t :your_goals, :scope => [:questions, :match] %></h3>
    </div>

    <table class="match-score">
      <tr>
        <td>Goles del partido</td>
        <td class="total-score"><%= @match.team_one_proposed_score + @match.team_two_proposed_score %></td>
      </tr>
      <tr>
        <td>Goles restantes</td>
        <td class="score"><%= (@match.team_one_proposed_score + @match.team_two_proposed_score) - @match.sum_users_goals %></td>
      </tr>
    </table>

    <div class="my-goals">
      <%= form_tag set_my_goals_match_path(match), :remote => true do |f| %>
        <p>Yo hice <%= number_field_tag :my_goals, 0 %> Goles <%= submit_tag("OK") %></p>
      <% end -%>
      <p>Yo <%= link_to "No Hice", set_my_goals_match_path(match),  :remote => true, :method => :post, :class => "no-goals" %> Goles.</p>
    </div>
  </div>

  <div class="info">
    <h4>Goles de tus amigos</h4>
    <table class="table players-list">
      <% (match.users.going - [current_user]).each do |player| %>
        <tr>
          <td class="avatar"><%= image_tag player.avatar.url(:mini) %></td>
          <td class="name"><%= player.name %></td>
          <td class="score"><%= player.goals(match) %></td>
          <td class="fake-score">
            <ul class="badges">
              <%= display_badge(player, survey, :fake_goals) %>
            </ul>
          </td>
        </tr>
      <% end -%>
    </table>
    <div class="steps-help">En caso de que los goles sean falsos, denuncia al jugador presionando sobre el numero.<br/> Ej: <div class="icn-denounce"></div></div>
  </div>
</div>