<div class="wrapper played-step">
  <div class="title review">
    <h2><%= t :rate, :scope => [:messages, :match] %></h2>
  </div>

  <div class="input">
    <div class="question">
      <h3><span class="left-arrow"></span> <%= t :did_you_play, :scope => [:questions, :match] %></h3>
    </div>

    <div class="yes">
      <%= link_to t(:yes, :scope => [:actions]), i_played_match_path(match), :remote => true, :method => :post %>
    </div>

    <div class="no">
      <%= link_to t(:no, :scope => [:actions]), i_didnt_play_match_path(match), :remote => true, :method => :post %>
    </div>
  </div>
</div>