<div class="wrapper qualify-step">
  <div class="title review">
    <h2><%= t :rate, :scope => [:messages, :match] %></h2>
  </div>

  <div class="info">
    <h4><%= t :qualify, :scope => [:questions, :match] %></h4>
    <div class="steps-help">Presione sobre los iconos para calificar.</div>
    <div class="stadium">
      <h5><%= match.stadium_name %></h5>
      <ul class="stars horizontal unstyled">
        <% (1..5).each do |index| %>
          <li class="star<%= " active" if survey.stadium_stars.to_i >= index -%>"><%= link_to '', set_stadium_stars_match_path(match, {:stars => index}), :method => :post, :remote => true %></li>
        <% end %>
      </ul>
    </div>

    <table class="table players-list">
      <% (match.users.going - [current_user]).each do |player| %>
        <tr>
          <td class="avatar"><%= image_tag player.avatar.url(:mini) %></td>
          <td class="name"><%= player.name %></td>
          <td class="badges"><%= display_survey_badges_for(player, survey) %></td>
        </tr>
      <% end -%>
    </table>

    <h4><%= t :badges, :scope => [:messages, :match] %></h4>
    <ul class="badges labels" >
      <% %w(fake-goals yellow-card red-card doping man-of-the-match cold-chest betrayer).each do |badge| %>
        <li class="<%= badge %> voted"><%= t(badge.underscore, :scope => [:badges])%></li>
      <% end -%>
    </ul>
  </div>
</div>