<div class="wrapper review-step">
  <div class="title review">
    <h2><%= t :review, :scope => [:messages, :match] %></h2>
  </div>

  <div class="info">
    <h4>Resultado del partido</h4>
    <table class="table match-score">
      <tbody>
        <tr>
          <td class="shield"><%= image_tag 'shields/shield_01.png' %></td>
          <td class="name"><%= match.team_one_name %></td>
          <td class="score"><%= match.team_one_proposed_score %></td>
        </tr>
         <tr>
          <td class="shield"><%= image_tag 'shields/shield_02.png' %></td>
          <td class="name"><%= match.team_two_name %></td>
          <td class="score"><%= match.team_two_proposed_score %></td>
        </tr>
      </tbody>
    </table>

    <table class="table players-list">
      <% match.users.going.each do |player| %>
        <tr>
          <td class="avatar"><%= image_tag player.avatar.url(:mini) %></td>
          <td class="name"><%= player.name %></td>
          <td class="badges"><%= display_badges_for(player, match) %></td>
        </tr>
      <% end -%>
    </table>

    <h4><%= t :badges, :scope => [:messages, :match] %></h4>
    <ul class="badges labels" >
      <% %w(goals fake-goals yellow-card red-card doping man-of-the-match cold-chest betrayer).each do |badge| %>
        <li class="<%= badge %> voted"><%= t(badge.underscore, :scope => [:badges])%></li>
      <% end -%>
    </ul>
  </div>
</div>