<div class="wrapper score-step">
  <div class="title review">
    <h2><%= t :rate, :scope => [:messages, :match] %></h2>
  </div>

  <div class="input">
    <div class="question">
      <h3><%= t :set_score, :scope => [:questions, :match] %></h3>
    </div>

    <%= form_tag(set_score_match_path, :id => 'set_score_form', :remote => true) do %>
      <table class="proposed-score table">
        <tbody>
          <tr class="score team-one-score">
            <td class="shield"><%= image_tag 'shields/shield_01.png' %></td>
            <td class="team-name"><%= match.team_one_name %></td>
            <td class="team-score"><%= number_field_tag(:team_one_score, match.team_one_proposed_score) %></td>
          </tr>
          <tr class="score team-two-score">
            <td class="shield"><%= image_tag 'shields/shield_02.png' %></td>
            <td class="team-name"><%= match.team_two_name %></td>
            <td class="team-score"><%= number_field_tag(:team_two_score, match.team_two_proposed_score) %></td>
          </tr>
        </tbody>
      </table>
      <%= submit_tag("Ok", :class => 'btn') %>
    <% end %>
  </div>

  <div class="info">
    <h4>Resultado segun tus amigos:</h4>
    <table class="table players-list">
      <tr>
        <td colspan="2" class="team-name">Jugador</td>
        <td class="shield"><%= image_tag 'shields/shield_01.png' %></td>
        <td class="shield"><%= image_tag 'shields/shield_02.png' %></td>
      </tr>
      <% (match.match_surveys - [survey]).each do |current_survey| %>
        <tr>
          <td class="avatar"><%= image_tag current_survey.invitation_to_play.user_avatar.url(:mini) %></td>
          <td class="name"><%= current_survey.invitation_to_play.user_name %></td>
          <td class="team-score"><%= current_survey.team_one_score %></td>
          <td class="team-score"><%= current_survey.team_two_score %></td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>