$('#survey_container').slideUp(function(){
  $('#survey_container').html("<%=j raw(render(:partial => 'matches/survey/proposed_score_step', :locals => { :match => match, :survey => survey })) %>");
  $('#survey_container').slideDown();
});