<h1><%= t :resend_confirmation_instructions, :scope => [:devise, :confirmations] %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <%= f.submit "Enviar", :class => 'btn' %>
<% end %>

<%= render "devise/shared/links" %>
