<h2>Cambio de password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :autocomplete => 'off' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="span6">
      <%= f.input :current_password, :hint => t(:current_password_hint, :scope => [:forms, :user]) %>
      <%= f.input :password, :hint => t(:password_hint, :scope => [:forms, :user]) %>
      <%= f.input :password_confirmation %>
    </div>
  </div>
  <%= f.submit "Cambiar", :class => 'btn btn-primary' %>
<% end %>