<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %>
    <%= f.email_field :email %></p>

  <p><%= f.label :name %>
    <%= f.text_field :name %></p>

  <p><%= f.label :password %>
    <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Dale!", :class => 'btn btn-primary btn-large' %></p>
<% end %>
<br />
<%= render "devise/shared/links" %>
