<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

	<style type="text/css">
	.body{background:#2C2C2D;}
  .table-content{width:650px; font-family:Arial, Helvetica, sans-serif; background:#2C2C2D; color:#FFF}
  .boxlogo{padding:20px 10px 20px 20px;}
  .boxhey{padding:25px 20px 0px 0px;}
  .boxfriend{padding:0px 0px 20px 0px;}
  .friendname{font-size:18px; font-weight:bold; color:#FFC400; padding-bottom:5px;}
  .invite{font-size:18px;}
  .boxmessage{text-align:center; font-size:16px; font-weight:bold; padding: 20px; color:#FFC400; background-color:#202021; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:top;}
  .boxinfo{text-align:center;}
  .boxdate{text-align:center; font-size:14px; font-weight:bold; padding:20px 0px 5px 0px; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:top;}
  .boxdate a{text-decoration:none; color:#529900;}
  .boxteams{padding:0px 0px 10px 0px;}
  .boxteams .teamone{text-align:right; padding:0px 0px 0px 10px; font-weight:bold; width:220px;}
  .boxtemas .shieldone{padding:10px}
  .boxtemas .vs{font-size:24px; font-weight:bold; color:#666;}
  .boxtemas .shieldtwo{padding:10px}
  .boxteams .teamtwo{text-align:left; padding:0px 10px 0px 0px; font-weight:bold; width:220px;}
  .boxassistance{text-align:center;}
  .boxassistance .frameassistance{font-size:14px; font-weight:bold; padding:20px 0px 20px 0px; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:top}
  .boxassistance .frameassistance table{margin:auto;}
  .boxassistance .frameassistance .txtyes{text-align:right; padding:0px 0px 0px 10px;}
  .boxassistance .frameassistance .icnyes{padding:0px 15px 0px 15px;}
  .boxassistance .frameassistance .hyphen{font-size:36px; font-weight:bold; color:#666;}
  .boxassistance .frameassistance .icnno{padding:0px 15px 0px 15px;}
  .boxassistance .frameassistance .txtno{text-align:left; padding:0px 10px 0px 0px;}
  .go{text-align:center;}
  .gomatch{padding:15px 0px 15px 0px; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:top}
  .footer{font-size:11px; color:#777; text-align:center; padding:20px}
  </style>

</head>
<body>

  <center>
  	<table cellpadding="0" cellspacing="0" border="0" class="table-content">
  		<tr>
  			<td rowspan="2" class="boxlogo">
          <%= link_to root_url do %>
  				  <img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
          <% end %>
  			</td>
  			<td class="boxhey">
  				<img src="<%= image_path "mails/match_coming.png" %>" width="301" height="82" border="0" />
  			</td>
  		</tr>
  		<tr>
  			<td valign="top" class="boxfriend">
  				<div class="friendname"><%= @host.name %></div>
  				<div class="invite">Te invitó a jugar al fobal, vas a ir?</div>
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2">
  				<div class="boxmessage">
  				<%= @message %>
  				</div>
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2" class="boxinfo">

  				<!--FECHA - LUGAR - EQUIPOS /////////////////-->
  				<div class="boxdate"><%= @match.play_at.nil? ? "No se sabe cuando" : l(@match.play_at, :format => :with_details).html_safe %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Estadio: <a href="#" title="Estadio" target="_blank"><%= @match.stadium_name || "No se sabe" %></a></div>

  				<!--EQUIPOS /////////////////-->
  				<div class="boxteams">
  					<table cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
  						<tr>
  							<td class="teamone">
  								<%= @match.team_one_name %>
  							</td>
  							<td class="shieldone">
  								<img src="<%= image_path "shields/shield_01.png" %>" alt="team" width="34" height="34" border="0" />
  							</td>
  							<td class="vs">VS</td>
  							<td class="shieldtwo">
  								<img src="<%= image_path "shields/shield_05.png" %>" alt="team" width="34" height="34" border="0" />
  							</td>
  							<td class="teamtwo">
  								<%= @match.team_two_name %>
  							</td>
  						</tr>
  					</table>
  				</div>

  			</td>
  		</tr>
  		<tr>
  			<td colspan="2" class="boxassistance">
  				<!--CONFIRMAR ASISTENCIA /////////////////-->
  				<div class="frameassistance">
  					<table cellpadding="0" cellspacing="0" border="0">
  						<tr>
  							<td class="txtyes">
  								<%= link_to "SI VOOOYYYYYYYYY...!!!", accept_invitations_to_play_url(@invitation), :target => :blank, :style => "text-decoration: none; color: #FFF" %>
  							</td>
  							<td class="icnyes">
  								<%= link_to accept_invitations_to_play_url(@invitation), :target => :blank do %>
  									<img src="<%= image_path 'icn_yes_l.png' %>" alt="SI VOY" width="40" height="40" border="0" />
  								<% end %>
  							</td>
  							<td class="hyphen">-</td>
  							<td class="icnno">
  								<%= link_to decline_invitations_to_play_url(@invitation), :target => :blank do %>
  									<img src="<%= image_path 'icn_no_l.png' %>" alt="NO VOY" width="40" height="40" border="0" />
  								<% end %>
  							</td>
  							<td class="txtno">
  								<%= link_to "NO, SOY PECHITO FRIO.", decline_invitations_to_play_url(@invitation), :target => :blank, :style => "text-decoration: none; color: #FFF" %>
  							</td>
  						</tr>
  					</table>
  				</div>

  			</td>
  		</tr>
  		<tr>
  			<td class="go" colspan="2">

  				<!--LINK AL PARTIDO /////////////////-->
  				<div class="gomatch">
  					<%= link_to match_url(@match), :targe => :blank, :style => "text-decoration:none; color:#FFF; line-height:30px; font-size:12px;" do %>
  						Hmm, todavía no se... llevame al partido.
  						<img src="<%= image_path "mails/icn_match_24.png" %>" alt="Detalles del partido" width="44" height="24" border="0" style="margin:0px 0px -6px 5px" />
  					<% end %>
  				</div>
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2">
  				<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2" class="footer">
  				FOBAL HERO © <%= Date.today.year %>
  			</td>
  		</tr>
  	</table>
	</center>

</body>
</html>