
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

  <style type="text/css">
	.body{background:#2C2C2D;}
  a{text-decoration: none;}
  .table-content{width:650px; font-family:Arial, Helvetica, sans-serif; background:#2C2C2D; color:#E0E0E0}
  .user-name{text-align:left; font-size:37px; font-weight:bold; padding: 40px 30px 15px 30px; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:bottom;}
  .user-name strong{color: #FFC400; font-size: 26px; text-transform: capitalize;}
  .fh-about{width: 285px; padding:30px 35px 0px 0px; line-height: 24px; font-size: 18px;}
  .fh-about .tit{color: #FFC400; font-size: 22px; font-weight: bold}
  .boxlogo{padding:20px 0px 20px 30px;}
  .can-do{text-align:left; font-size: 18px; background-image:url('<%= image_path "mails/line_1.png" %>'); background-repeat:no-repeat; background-position:top;}
  .can-do a{color: #FFC400}
  .ok-invitations{padding:30px; text-align: center;}
  .ok-invitations a{display: inline-block; width: 200px; height: 40px; line-height: 40px; font-size: 14px; color: #fff; background-image:url('<%= image_path "mails/btn_invitation_ok.png" %>'); background-repeat:no-repeat; background-position:top;}
  .footer{font-size:11px; color:#777; text-align:center; padding:20px 20px 30px 20px;}
  </style>

</head>
<body>

  <center>
	<table cellpadding="0" cellspacing="0" border="0" class="table-content">
		<tr>
			<td colspan="2">
				<div class="user-name">
				  <strong><%= @host.name %></strong></br>
				  Te invitó a que te registres en:
				</div>
			</td>
		</tr>
		
		<tr>
			<td class="boxlogo">
        <%= link_to root_url do %>
				  <img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
        <% end %>
			</td>
			<td class="fh-about" valign="top">
				<div class="tit">NO ES UN VIDEO JUEGO</div>
        <strong>FOBAL HERO</strong> es el <strong>Control Maestro del Futbol</strong> que te permite crear partidos, invitar a tus amigos y jugar en el mundo real.
			</td>
		</tr>
		
		<tr>
			<td class="can-do" colspan="2">

				<!--ACEPTAR INVITACION /////////////////-->
				<div class="ok-invitations">
					 <%= link_to "ACEPTO LA INVITACIÓN", accept_invitations_to_register_url(@invitation) %>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="footer">
				FOBAL HERO © <%= Date.today.year %>
			</td>
		</tr>
	</table>
	</center>

</body>
</html>