<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">



</head>
<body>

  <center>
		<table cellpadding="0" cellspacing="0" border="0" class="table-content" style="width: 650px;font-family: Arial, Helvetica, sans-serif;background: #2C2C2D;color: #E0E0E0;">
			<tr>
				<td colspan="2" style="background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: bottom;">
					<div class="user-name" style="text-align: left;font-size: 26px;font-weight: bold;padding: 40px 30px 15px 30px;">
					  <strong style="color: #FFC400;font-size: 18px;text-transform: capitalize;"><%= @host.name %></strong><br/>
					  Te invitó a que te registres en:
					</div>
				</td>
			</tr>

			<tr>
				<td class="boxlogo" style="padding: 20px 0px 20px 30px;">
					<%= link_to root_url do %>
						<img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
					<% end %>
				</td>
				<td class="fh-about" valign="top" style="width: 285px;padding: 30px 35px 0px 0px;line-height: 24px;font-size: 18px;">
					<div class="tit" style="color: #FFC400;font-size: 22px;font-weight: bold;">NO ES UN VIDEO JUEGO</div>
	        <strong>FOBAL HERO</strong> es el <strong>Control Maestro del Futbol</strong> que te permite crear partidos, invitar a tus amigos y jugar en el mundo real.
				</td>
			</tr>

			<tr>
				<td class="can-do" colspan="2" style="text-align: left;font-size: 18px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">

					<!--ACEPTAR INVITACION /////////////////-->
					<div class="ok-invitations" style="padding: 30px;text-align: center;">
						 <%= link_to "Acepto la Invitación", accept_invitations_to_register_url(@invitation), :style => "diplay: block; width: 186px; height: 44px; line-height: 44px; text-align: center; padding: 0px 44px 0px 0px; background: #0088AB url('#{image_path "mails/icn_arrow_accept_register.png"}') no-repeat right; margin: auto; font-size: 18px; color: #fff; text-decoration: none;" %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
				</td>
			</tr>
			<tr>
				<td colspan="2" class="footer" style="font-size: 11px;color: #777;text-align: center;padding: 20px 20px 30px 20px;">
					FOBAL HERO © <%= Date.today.year %>
				</td>
			</tr>
		</table>
	</center>

</body>
</html>