<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>

  <center>
		<table cellpadding="0" cellspacing="0" border="0" class="table-content" style="width: 650px;font-family: Arial, Helvetica, sans-serif;background: #2C2C2D;color: #FFF;">
			<tr>
				<td rowspan="2" class="boxlogo" style="padding: 20px 10px 20px 20px;">
					<%= link_to root_url(:t =>  @user.authentication_token) do %>
						<img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
					<% end %>
				</td>
				<td class="boxhey" style="padding: 25px 20px 0px 0px;">
					<img src="<%= image_path "mails/match_coming.png" %>" width="301" height="82" border="0" />
				</td>
			</tr>
			<tr>
				<td valign="top" class="boxfriend" style="padding: 0px 0px 20px 0px;">
					<div class="friendname" style="font-size: 18px;font-weight: bold;color: #FFC400;padding-bottom: 5px;"><%= @host.name %></div>
					<div class="invite" style="font-size: 18px;">Te invitó a jugar al fobal, vas a ir?</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="boxmessage" style="text-align: center;font-size: 16px;font-weight: bold;padding: 20px;color: #FFC400;background-color: #202021;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">
					<%= @message %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="boxinfo" style="text-align: center;">

					<!--FECHA - LUGAR - EQUIPOS /////////////////-->
					<div class="boxdate" style="text-align: center;font-size: 14px;font-weight: bold;padding: 20px 0px 5px 0px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;"><%= @match.play_at.nil? ? "No se sabe cuando" : l(@match.play_at, :format => :with_details).html_safe %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Estadio: <%= @match.stadium_name || "No se sabe" %></div>

					<!--EQUIPOS /////////////////-->
					<div class="boxteams" style="padding: 0px 0px 10px 0px;">
						<table cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
							<tr>
								<td class="teamone" style="text-align: right;padding: 0px 0px 0px 10px;font-weight: bold;width: 220px;">
									<%= @match.team_one_name %>
								</td>
								<td class="shieldone">
									<img src="<%= image_path "shields/shield_01.png" %>" alt="team" width="34" height="34" border="0" />
								</td>
								<td class="vs">VS</td>
								<td class="shieldtwo">
									<img src="<%= image_path "shields/shield_05.png" %>" alt="team" width="34" height="34" border="0" />
								</td>
								<td class="teamtwo" style="text-align: left;padding: 0px 10px 0px 0px;font-weight: bold;width: 220px;">
									<%= @match.team_two_name %>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td colspan="2" class="boxassistance" style="text-align: center;">
					<!--CONFIRMAR ASISTENCIA /////////////////-->
					<div class="frameassistance" style="font-size: 14px;font-weight: bold;padding: 20px 0px 20px 0px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">
						<table cellpadding="0" cellspacing="0" border="0" style="margin: auto;">
							<tr>
								<td class="txtyes" style="text-align: right;padding: 0px 0px 0px 10px;">
									<%= link_to "SI VOOOYYYYYYYYY...!!!", accept_invitations_to_play_url(@invitation, :t =>  @user.authentication_token), :target => :blank, :style => "text-decoration: none; color: #FFF" %>
								</td>
								<td class="icnyes" style="padding: 0px 15px 0px 15px;">
									<%= link_to accept_invitations_to_play_url(@invitation, :t =>  @user.authentication_token), :target => :blank do %>
										<img src="<%= image_path 'icn_yes_l.png' %>" alt="SI VOY" width="40" height="40" border="0" />
									<% end %>
								</td>
								<td class="hyphen" style="font-size: 36px;font-weight: bold;color: #666;">-</td>
								<td class="icnno" style="padding: 0px 15px 0px 15px;">
									<%= link_to decline_invitations_to_play_url(@invitation, :t =>  @user.authentication_token), :target => :blank do %>
										<img src="<%= image_path 'icn_no_l.png' %>" alt="NO VOY" width="40" height="40" border="0" />
									<% end %>
								</td>
								<td class="txtno" style="text-align: left;padding: 0px 10px 0px 0px;">
									<%= link_to "NO, SOY PECHITO FRIO.", decline_invitations_to_play_url(@invitation, :t =>  @user.authentication_token), :target => :blank, :style => "text-decoration: none; color: #FFF" %>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td class="go" colspan="2" style="text-align: center;">

					<!--LINK AL PARTIDO /////////////////-->
					<div class="gomatch" style="padding: 15px 0px 15px 0px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">
						<%= link_to match_url(@match, :t =>  @user.authentication_token), :targe => :blank, :style => "text-decoration:none; color:#FFF; line-height:30px; font-size:12px;" do %>
							Hmm, todavía no se... llevame al partido.
							<img src="<%= image_path "mails/icn_match_24.png" %>" alt="Detalles del partido" width="44" height="24" border="0" style="margin:0px 0px -6px 5px" />
						<% end %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
				</td>
			</tr>
			<tr>
				<td colspan="2" class="footer" style="font-size: 11px;color: #777;text-align: center;padding: 20px;">
					FOBAL HERO © <%= Date.today.year %>
				</td>
			</tr>
		</table>
	</center>

</body>
</html>