<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  
  

</head>
<body>

  <center>
	<table cellpadding="0" cellspacing="0" border="0" class="table-content" style="width: 650px;font-family: Arial, Helvetica, sans-serif;background: #2C2C2D;color: #E0E0E0;">
		<tr>
			<td colspan="2">
				<div class="logo" style="text-align: left;padding: 30px 30px 10px 30px;">
				  <img src="<%= image_path "mails/logo_160.png" %>" width="160" height="80" border="0" />
				</div>
			</td>
		</tr>
				
		<tr>
			<td class="can-do" colspan="2" style="text-align: left;font-size: 20px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">

				<!--TEXTO DESCRIPTIVO /////////////////-->
				<div class="dataoptions" style="padding: 20px 30px 30px 30px;">
					 <%= link_to @user.name, user_url(@user) %>
					 Aceptó tu invitación y está disponible para cuando organices un partido.
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
			</td>
		</tr>
		<tr>
			<td colspan="2" class="footer" style="font-size: 11px;color: #777;text-align: center;padding: 20px 20px 30px 20px;">
				FOBAL HERO © <%= Date.today.year %>
			</td>
		</tr>
	</table>
	</center>

</body>
</html>