<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>

  <center>
    <table cellpadding="0" cellspacing="0" border="0" class="table-content" style="width: 650px;font-family: Arial, Helvetica, sans-serif;background: #2C2C2D;color: #E0E0E0;">
      <tr>
        <td colspan="2" style="background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: bottom;">
          <div class="user-name" style="text-align: left;font-size: 18px;font-weight: bold;padding: 40px 30px 15px 30px;">
            Hola <strong class="color: #FFC400;"><%= @user.name %></strong>
          </div>
        </td>
      </tr>
      
      <tr>
        <td class="boxwelcome" style="padding: 10px 0px 10px 30px;">
          <img src="<%= image_path "mails/welcome.png" %>" width="290" height="110" border="0" />
        </td>
        <td class="boxlogo" style="padding: 20px 20px 20px 0px;">
          <%= link_to root_url do %>
            <img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
          <% end %>
        </td>
      </tr>
      
      <tr>
        <td class="can-do" colspan="2" style="text-align: left;font-size: 18px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">

          <!--TEXTO DESCRIPTIVO /////////////////-->
          <div class="dataoptions" style="padding: 30px;">
             Podes <%= link_to "organizar un partido", new_match_url, :style => "text-decoration: none; color: #FFC400;" %> ya mismo o chusmear los partidos que juega <%= link_to @host.name, user_url(@host), :style => "text-decoration: none; color: #FFC400;" %>. Tambien <%= link_to "invitar amigos", root_url, :style => "text-decoration: none; color: #FFC400;" %> para agregarlos a tu lista de jugadores y mucho mas.
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
        </td>
      </tr>
      <tr>
        <td colspan="2" class="footer" style="font-size: 11px;color: #777;text-align: center;padding: 20px 20px 30px 20px;">
          FOBAL HERO © <%= Date.today.year %>
        </td>
      </tr>
    </table>
  </center>

</body>
</html>