<%#- if controller_name != 'sessions' %>
  <%#= link_to t(:sign_in, :scope => [:devise, :sessions]), new_session_path(resource_name) %>
<%# end -%>

<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%#= link_to "Sign up", new_registration_path(resource_name) %>
<%# end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t(:forgot_password, :scope => [:devise, :sessions]), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t(:no_confirmation_instructions, :scope => [:devise, :sessions]), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t(:no_unlock_instructions, :scope => [:devise, :sessions]), new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to t(:sign_in_with_provider, :scope => [:devise, :sessions], :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>