<div class="wrapper invite-confirm">
  <div class="title rsvp pending">
    <h2><%= t :confirm, :scope => [:messages, :match] %></h2>
  </div>

  <div class="input">
    <p>Tenes partidos pendientes de confirmación:</p>
    <% Match.waiting_response(current_user).each do |match| %>
      <div class="invitation">
        <%= link_to "ver", match %>
        <span class="user-name"><%= match.host_name %></span> te invitó a jugar.
        <div class="play-at"><%= match.play_at.nil? ? "no se sabe cuando" : l( match.play_at, :format => :only_day )%></div>
      </div>
    <% end %>
  </div>
</div>