<%= simple_form_for @user do |f| %>
  <div class="row">
    <div class="span6">
    	<%= f.input :name %>
    	<%= f.input :email %>
    </div>
    <div class="span6">
	   <%= image_tag @user.avatar.url(:medium) %>
	   <br>
      <%= f.file_field :avatar %>
    </div>
  </div>
	<%= f.submit :class => 'btn btn-primary' %>
<% end %>

<p>
  <%= link_to "Cambia tu password", edit_user_registration_path %><br/>
  ¿No sos feliz? <%= link_to "Cerrar la cuenta", registration_path(@user), :data => { :confirm => "¿Seguro?" }, :method => :delete %>
</p>
