<h3>Activos</h3>
<ul class="unstyled">
  <% @active.each do |user| %>
    <li style="float:left; margin-left: 20px; width: 35%; height: 100px; height: 150px">
      <%= image_tag user.avatar.url(:thumb), :class => "pull-left" %>
      <div class="pull-left">
        <b><%= link_to user.name, user %></b> <%= user.email %><br />
        <%= "visto hace " + time_ago_in_words(user.current_sign_in_at) rescue "nunca visto" %>, registrado hace <%= time_ago_in_words(user.created_at) %>.<br />
        Partidos organizados: <%= user.organized_matches.count %> (<%= organized_matches user %>).<br />
        Amigos <a href="#" title="<%= friend_names(user) %>"><%= user.friends.count %></a>.<br />
        Comentarios publicados <%= user.comments.count %>.
      </div>
    </li>
  <% end %>
</ul>
<h3 style="padding-top: 50px; clear: both">Inactivos</h3>
<ul class="unstyled">
  <% @inactive.each do |user| %>
    <li><%= image_tag user.avatar.url(:thumb) %><b><%= link_to user.name, user %></b> <%= user.email %> (<%= "visto hace " + time_ago_in_words(user.current_sign_in_at) rescue "nunca visto" %>, registrado hace <%= time_ago_in_words(user.created_at) %>)</li>
  <% end %>
</ul>