<h2>El bendito password</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="control-group">
    <%= f.label :password, "Password", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Dale de nuevo, a ver si lo escribiste bien", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <%= f.submit "Listo", :class => 'btn btn-primary' %>
<% end %>