<div class="row">

<div class="span6">
asdkjsad askjdlkasj dlkajs kjladsj
</div>

<div class="span6">
  <div class="recovery-box"><!-- RECOVERY BOX -->
  <h2>Olvidaste tu Contraseña?</h2>

  <div class="separator-line"></div>
  
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :email %>
    <%= f.submit "Enviar instrucciones a mi Email", :class => "btn" %>
  <% end %>

  </div><!-- END RECOVERY BOX -->

</div>

</div>

<% content_for :under_content do %>
  <div class="bar-grass"></div>
<%end%>