
<div class="row">
  <div class="span4 offset1">
    <%= link_to image_tag("logo_334.png"), root_path %>
  </div>
  <div class="span4">
    <h2>CONVERTITE EN UN <b>HEROE DEL FUTBOL</b></h2>
    <h1>JUGA AL FUTBOL</h1>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
    <%= link_to "Mis Partidos", matches_path, :class => "btn-home match" %>
  </div>
  <div class="span4">
    <%= link_to new_match_path, :class => "new-match-btn" do %>
      <div class="icon"></div>
      <%= t(:new_match, :scope => [:actions]) %>
    <% end %>
  </div>
</div>
