<div class="row">
  <div id="comment_<%= comment.id %>" class="comment <%= comment_side %>" data-id="<%= comment.id %>" data-side="<%= comment_side %>">
    <div class="avatar">
      <%= image_tag(comment.user.avatar.url(:thumb)) %>
    </div>
    <div class="span8">
      <div class="comment-created-at <%= comment_side %>"><%= time_ago_in_words comment.created_at %></div>
      <div class="box-comment">
      <div class="comment-arrow"></div>
      <div class="comment-user">
        <%= link_to comment.user.name, comment.user %>
      </div>
      <pre class="comment-body"><%= comment.body %></pre>
      </div>
    </div>
  </div>
</div>