<div class="span9">
  <div class="match-details">
    <div class="match-type">
      <span class="type editable">
        <%= Match.human_attribute_name :match_type %>:
        <%= match.match_type %>
      </span>
    </div>
    <div class="match-date">
      <span class="play-at-date editable">
        <%= Match.human_attribute_name :play_at_date %>:
        <%= match.play_at_date %>
      </span>
    </div>
    <div class="match-time">
      <span class="play-at-time editable">
        <%= Match.human_attribute_name :play_at_time %>:
        <%= match.play_at_time %>
      </span>
    </div>
    <div class="match-stadium-name">
      <span class="stadium-name editable">
        <%= Match.human_attribute_name :stadium_name %>:
        <%= match.stadium_name %>
      </span>
    </div>
  </div>
</div>

<div class="span9">
  <div class="teams">
    <div class="team-one">
      <span class="score">
        <%= match.team_one_proposed_score %>
      </span>
      <span class="name editable">
        <%= match.team_one_name %>
      </span>
    </div>
    <div class="team-two">
      <span class="score">
        <%= match.team_two_proposed_score %>
      </span>
      <span class="name editable">
        <%= match.team_two_name %>
      </span>
    </div>
  </div>
</div>
