<div class="wrapper friends">
  <div class="title player34">
    <h2><%= User.human_attribute_name :friends %></h2>
  </div>
  <ul id="friends_list" class="friends unstyled">
    <% @friends.each do |user| %>
      <li class="user" id="sidebar_user_<%= user.id %>" data-user-id="<%= user.id %>" data-thumb="<%= user.avatar.url(:thumb) %>">
        <label>
          <%= link_to image_tag(user.avatar.url(:mini), :class => 'mini'), user, :target => :blank %>
          <span class="user-name"><%= user.name %></span>
          <input data-user-id="<%= user.id %>" type="checkbox" class="select">
        </label>
      </li>
    <% end %>
  </ul>
  <div class="box-footer">
    <%= link_to t(:invite, :scope => [:buttons]), '#', :id => 'invite_button', :class => 'btn' %>
  </div>
</div>