<div id="invite_friends_modal" class="popup modal fade" tabindex="-1" role="dialog" aria-labelledby="invite_friends_to_play_label" aria-hidden="true">
  <div id="invite_friends_form_result_wrapper">
    <%= render :partial => 'thanks_for_invite_to_play' %>
  </div>
  <div id="invite_friends_form_wrapper">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3 id="invite_friends_to_play_label"><%= t :invite_to_play, :scope => [:titles, :match] %></h3>
    </div>
    <%= simple_form_for :invite, :url => invite_to_play_match_path, :html => { :id => 'invite_to_play' } do |f| %>
      <div class="modal-body">
        <h5>Lista de amigos seleccionados:</h5>
        <ul class="users-to-invite unstyled horizontal">
          <li class="nobody">Ninguno</li>
        </ul>
        
        <p><b>!Nuevos amigos!</b> También podes invitar a tus amigos no registrados escribiendo sus emails en este campo y separándolos por una coma.</p>
        <%= f.input :emails, :as => :text, :label => false, :placeholder => 'Emails', :input_html => { :rows => 1, :class => 'autogrow' } %>

        <p>Escribí un mensaje de invitación para tus amigos.</p>
        <%= f.input :comment, :as => :text, :placeholder => 'Mensaje', :label => false, :required => false, :input_html => { :rows => 3, :class => 'autogrow' } %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Invitar!", :class => 'btn btn-primary pull-right' %>
      </div>
    <% end %>
  </div>
</div>