<ul class="nav nav-tabs nav-match">

  <% unless Match.upcoming(current_user).include?(@match) or Match.pending_review(current_user).include?(@match) %>
    <li class="active">
      <%= link_to match_path(@match) do %>
        Partido
      <% end -%>
    </li>
  <% end -%>
  <% Match.pending_review(current_user).each do |match| %>
    <li class="<%= "active" if @match == match -%>">
      <%= link_to match_path(match) do %>
        <%= match_date(match) %>
      <% end -%>
    </li>
  <% end -%>
  <% Match.upcoming(current_user).each do |match| %>
    <li class="<%= "active" if @match == match -%>">
      <%= link_to match_path(match) do %>
        <%= match_date(match) %>
      <% end -%>
    </li>
  <% end -%>

</ul>