<div class="span9">
  <div class="stadium">
    <% match.users.starting(match.number_of_players_in_stadium).each_with_index do |player, index| %>
      <div class="player number-<%= index %>">
        <%= link_to image_tag(player.avatar.url(:thumb)), player %>
      </div>
    <% end %>
  </div>
</div>

<div class="span9">
  <h4>Jugadores al banco</h4>
  <ul class="substitutes">
    <% match.users.substitutes(match.number_of_players_in_stadium).each_with_index do |player, index| %>
      <li class="user" data-user-id="<%= player.id %>"><%= link_to image_tag(player.avatar.url(:thumb)), player, :title => player.name %></li>
    <% end %>
  </ul>
</div>

<div class="span9">
  <div class="invited">
    <h4>Pendientes de confirmacion</h4>
    <ul class="undecided">
      <% match.users.undecided.each_with_index do |user, index| %>
        <li class="user" data-user-id="<%= user.id %>"><%= link_to image_tag(user.avatar.url(:thumb)), user, :title => user.name %></li>
      <% end %>
    </ul>
    <h4>Despreciables que no van</h4>
    <ul class="not-going">
      <% match.users.not_going.each do |user| %>
        <li class="user" data-user-id="<%= user.id %>"><%= link_to image_tag(user.avatar.url(:thumb)), user, :title => user.name %></li>
      <% end %>
    </ul>
  </div>
</div>
