<% invite = current_user.invitation_to_play(@match) %>

<div class="wrapper invite-confirm">
  <%= render :partial => 'rsvp_accepted', :locals => { :invite => invite }  if invite.accepted? -%>
  <%= render :partial => 'rsvp_declined', :locals => { :invite => invite }  if invite.declined? -%>
  <%= render :partial => 'rsvp_pending', :locals => { :invite => invite }  if invite.pending? -%>
</div>