<div class="title rsvp accepted">
  <h2><%= t :confirmed, :scope => [:messages, :match] %></h2>
</div>

<div class="input">
  <p>
    <%= t :you_are_confirmed_html, :scope => [:messages, :match] %>
  </p>
  <%= link_to decline_invitations_to_play_url(invite), :class => 'choose' do %>
    <%= image_tag 'icn_no_s.png' %> <%= t(:change_mind_not_going, :scope => [:actions]) %>
  <% end %>
</div>
