<div class="title rsvp declined">
  <h2><%= t :not_going, :scope => [:messages, :match] %></h2>
</div>

<div class="input">
  <p>
    <%= t :you_are_not_going, :scope => [:messages, :match] %>
  </p>
  <%= link_to accept_invitations_to_play_url(invite), :class => 'choose' do %>
    <%= image_tag 'icn_yes_s.png' %> <%= t(:change_mind_going, :scope => [:actions]) %>
  <% end %>
</div>