<div class="title rsvp pending">
  <h2><%= t :confirm, :scope => [:messages, :match] %></h2>
</div>

<div class="input">
  <p><%= t(:someone_invited_you_are_you_going, :scope => [:messages, :match], :host_name => "<span class='host-name'>#{h(invite.host.name)}</span>").html_safe %></p>
  <%= link_to accept_invitations_to_play_url(invite), :class => 'choose' do %>
    <%= image_tag 'icn_yes_s.png' %> <%= t :i_am_going, :scope => [:actions] %>
  <% end -%>
  <%= link_to decline_invitations_to_play_url(invite), :class => 'choose' do %>
    <%= image_tag 'icn_no_s.png' %> <%= t :i_am_not_going, :scope => [:actions] %>
  <% end -%>
</div>
