<% content_for :sidebar do %>
  <%= render 'rsvp' if !@match.already_played? and current_user.invited?(@match) -%>
  <%= render 'friends_list' if !@match.already_played? -%>
  <%= display_survey_for @match if @match.already_played? and current_user.played? @match -%>
<% end %>