<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"></button>
  <h3>Aleluya hermanos!</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("ilus_iso_fh.png"), root_path %>
    </div>
    <div class="span3">
      <h4 class="confirmation-title">Felicitaciones!!!</h4>
      <p class="message">Tu invitacion se ha enviado correctamente</p>
      <p>Fobal Hero. Quiero Jugar!</p>
    </div>
  </div>
</div>