<% if @comments.any? %>
  $('#comments').prepend('<div class="show-later"><% @comments.each do |comment| %><%=j raw(render(:partial => 'comment', :locals => { :comment => comment, :comment_side => calculate_comment_side(comment, @prev_comment) })) %><% end %></div>');
  $('.show-later').slideDown('slow');
  FobalHero.matches.action_show.restartCommentRefresh();
<% end %>
