<div class="title match34">
  <h2>Historial de juego</h2>
</div>

<div class="history-content">

  <h3>Partidos que se vienen</h3>
  <table class="table">

  <% @upcoming_matches.each do |match| %>
    <tr>
      <td class="teams-score">
      <%= match.team_one_proposed_score %>
      <%= image_tag 'shields/shield_01.png' %>
      <strong>VS</strong>
      <%= image_tag 'shields/shield_02.png' %>
      <%= match.team_two_proposed_score %>
      </td>

      <td class="date"><%= l(match.play_at, :format => :short) unless match.play_at.nil? %></td>
      <td class="type"><%= t match.match_type, :scope => [:activerecord, :attributes, :match, :match_type_values], :default => "" %></td>
      <td class="stadium-name"><%= match.stadium_name %></td>
      <td class="link"><%= link_to "Ver partido", match %></td>
    </tr>
  <% end %>
  </table>

  <h3>Partidos a evaluar</h3>
  <table class="table">

  <% @recent_matches.each do |match| %>
    <tr>
      <td class="teams-score">
      <%= match.team_one_proposed_score %>
      <%= image_tag 'shields/shield_01.png' %>
      <strong>VS</strong>
      <%= image_tag 'shields/shield_02.png' %>
      <%= match.team_two_proposed_score %>
      </td>
      
      <td class="date"><%= l(match.play_at, :format => :short) unless match.play_at.nil? %></td>
      <td class="type"><%= t match.match_type, :scope => [:activerecord, :attributes, :match, :match_type_values], :default => "" %></td>
      <td class="stadium"><%= match.stadium_name %></td>
      <td class="link"><%= link_to "Ver partido", match %></td>
    </tr>
  <% end %>
  </table>

  <h3>Partidos jugados</h3>
  <table class="table">

  <% @past_matches.each do |match| %>
    <tr>
      <td class="teams-score">
      <%= match.team_one_proposed_score %>
      <%= image_tag 'shields/shield_01.png' %>
      <strong>VS</strong>
      <%= image_tag 'shields/shield_02.png' %>
      <%= match.team_two_proposed_score %>
      </td>
      
      <td class="date"><%= l(match.play_at, :format => :short) unless match.play_at.nil? %></td>
      <td class="type"><%= t match.match_type, :scope => [:activerecord, :attributes, :match, :match_type_values], :default => "" %></td>
      <td class="stadium-name"><%= match.stadium_name %></td>
      <td class="link"><%= link_to "Ver partido", match %></td>
    </tr>
  <% end %>
  </table>

  <% content_for :sidebar do %>
    <!-- <p>Partidos que tenes que calificar</p> -->
        <%= render :partial => 'users/pending_invitation' if Match.waiting_response(current_user).any? %>
  <% end %>

</div>