<%= render :partial => 'match_tabs' %>

<div class="match-wrapper"><!-- START MATCH WRAPPER -->

  <%= simple_form_for(@match, :html => { :id => 'match_form', :data => { :id => @match.id }}) do |f| %>
    <div class="title match34">
      <h2><%= t :new, :scope => [:titles, :match] %></h2>
      <div class="action">
        <%= link_to "Avisar", notify_changes_match_path(@match),
          :class => "#{@match.pending_notification? ? 'active' : 'disabled' } btn btn-primary",
          :id => 'notify_changes' unless @match.already_played?%>
        <%= f.submit "Guardar", :class => 'btn btn-primary' unless @match.already_played? -%>
      </div>
    </div>
    <% if @match.errors.any? %>
      <div id="error_explanation">
        <h2>Che, hay algunos problemas con los datos</h2>
        <ul>
          <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= display_details_for @match %>
      <%= render :partial => 'players', :locals => { :match => @match } %>
    </div>

  <% end %>

</div><!-- END MATCH WRAPPER -->

<div class="row">
  <div class="span9">
    <div id="new_comment_wrapper">
      <p><strong><%= current_user.name %></strong><br/>Comenta algo sobre el partido.</p>
      <%= simple_form_for @new_comment, :url => post_comment_match_path(@match), :remote => true do |f| %>
        <%= f.input :body, :label => false, :as => :text, :input_html => { :rows => 1 } %>
      <% end %>
    </div>
    <div id="comments"></div>
  </div>
</div>

<!-- Start modal window -->
<%= render :partial => 'invite_to_play_popup' %>
<!-- End modal window -->

<!-- Start sidebar -->
<%= render :partial => 'sidebar' %>
<!-- End sidebar -->
