<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>

  <center>
		<table cellpadding="0" cellspacing="0" border="0" class="table-content" style="width: 650px;font-family: Arial, Helvetica, sans-serif;background: #2C2C2D;color: #FFF;">
			<tr>
				<td rowspan="2" class="boxlogo" style="padding: 20px 10px 20px 20px;">
					<%= link_to root_url do %>
						<img src="<%= image_path "mails/logo_270.png" %>" width="272" height="146" border="0" />
					<% end %>
				</td>
				<td class="boxhey" style="padding: 25px 20px 0px 0px;">
					<img src="<%= image_path "mails/match_coming.png" %>" width="301" height="82" border="0" />
				</td>
			</tr>
			<tr>
				<td valign="top" class="boxfriend" style="padding: 0px 0px 20px 0px;">
					<div class="friendname" style="font-size: 18px;font-weight: bold;color: #FFC400;padding-bottom: 5px;"><%= @host.name %></div>
					<div class="invite" style="font-size: 18px;">Cambió los datos del partido.</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="boxmessage" style="text-align: center;font-size: 16px;font-weight: bold;padding: 20px;color: #FFC400;background-color: #202021;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">
						<% @changes.each do |key,value|%>
							<%= match_change(key, value[1]) %><br>
						<% end %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="go" colspan="2" style="text-align: center;">

					<!--LINK AL PARTIDO /////////////////-->
					<div class="gomatch" style="padding: 15px 0px 15px 0px;background-image: url('<%= image_path "mails/line_1.png" %>');background-repeat: no-repeat;background-position: top;">
						<%= link_to match_url(@match), :targe => :blank, :style => "text-decoration:none; color:#FFF; line-height:30px; font-size:12px;" do %>
							Hmm, no se que hacer... llevame al partido.
							<img src="<%= image_path "mails/icn_match_24.png" %>" alt="Detalles del partido" width="44" height="24" border="0" style="margin:0px 0px -6px 5px" />
						<% end %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="<%= image_path "mails/grass_mail.jpg" %>" alt="pasto" width="650" height="60" border="0" />
				</td>
			</tr>
			<tr>
				<td colspan="2" class="footer" style="font-size: 11px;color: #777;text-align: center;padding: 20px;">
					FOBAL HERO © <%= Date.today.year %>
				</td>
			</tr>
		</table>
	</center>

</body>
</html>