

/*COMMENTS LIST*/

#comments{
	margin: 0px;
}

#comments .row{
	margin: 0px 0px 5px 0px;
}

#comments .row .comment .box-comment{
	padding: 7px 10px 5px 10px;
	border-radius: 8px 8px 8px 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -moz-border-radius-topright: 8px;
   -moz-border-radius-topleft: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   -webkit-border-top-left-radius: 8px;
}

#comments .row .comment.left .box-comment{
	background: #fff;
	margin: 0px 60px 0px 0px;
}

#comments .row .comment.right .box-comment{
	background: #F5F5F5;
	margin: 0px 0px 0px 60px;
}

#comments .row .comment .avatar{
	margin: 4px 0px 0px 0px;
	border: 4px solid #fff;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

#comments .row .comment.left .avatar{
	float: left;
}

#comments .row .comment.right .avatar{
	float: right;
}

#comments .row .comment .avatar img{
	width: 40px;
	height: auto;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#comments .row .comment .box-comment .comment-arrow{
	width: 13px;
	height: 12px;
	position: relative;
	background: url(comments/arrow-comment.png);
}

#comments .row .comment.left .box-comment .comment-arrow{
	margin: 3px 0px 0px -23px;
	background-position: 0px 0px;
	float: left;
}

#comments .row .comment.right .box-comment .comment-arrow{
	margin: 3px -23px 0px 0px;
	background-position: -15px 0px;
	float: right;
}

#comments .row .comment .box-comment .comment-user{
	width: 105px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	color: #555;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 18px;
}

#comments .row .comment .box-comment .comment-user a{
	color: #007599;
}

#comments .row .comment .box-comment .comment-user a:hover{
	color: #0089B3;
}

#comments .row .comment.left .box-comment .comment-user{
	text-align: left;
	float: left;
}

#comments .row .comment.right .box-comment .comment-user{
	text-align: right;
	float: right;
}

#comments .row .comment .comment-created-at{
	font-size: 11px;
	line-height: 14px;
	color: #666;
	padding: 0px 15px 0px 15px;
}

#comments .row .comment .comment-created-at.left{
	text-align: left;
}

#comments .row .comment .comment-created-at.right{
	text-align: right;
}

#comments .row .comment .box-comment pre.comment-body{
	width: 465px;
	background: none;
	border: none;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	color: #595959;
	font-size: 13px;
	font-family:  'helveticaneuelt_std_cnregular', Arial, Tahoma, Helvetica, sans-serif;
	border-radius:0px;
}

#comments .row .comment.left .box-comment pre.comment-body{
	text-align: left;
	border-left: 1px solid #aaa;
	margin: 0px 0px 0px 118px;
}

#comments .row .comment.right .box-comment .comment-body{
	text-align: right;
	border-right: 1px solid #aaa;
}

/*COMMENTS BAR*/
#new_comment_wrapper{
	padding: 15px;
	margin: 0px 0px 20px 0px;
	border-radius: 8px 8px 8px 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -moz-border-radius-topright: 8px;
   -moz-border-radius-topleft: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   -webkit-border-top-left-radius: 8px;
   background: #373738;
}

#new_comment_wrapper p{
	width: 165px;
	margin: 0px;
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
	float: left;
}

#new_comment_wrapper p strong{
	font-weight: normal;
	text-transform: uppercase;
	color: #eee;
}

#new_comment {
	width: 510px;
	margin:  0px 0px 5px 0px;
  margin-left: 180px;
}

#new_comment .control-group {
	margin: 0px;
}

#new_comment textarea#comment_body{
	width: 540px;
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 0px 0px;
	background: #ddd;
	font-size: 12px;
}

#new_comment input.btn{
	width: 90px;
	float: right;
	padding: 2px 10px 2px 10px;
	font-size: 12px;
}
