

/*MyriadProRegular*/


@font-face {
	font-family: 'MyriadProRegular';
	src: url('fonts/myriad_pro/myriadpro-regular-webfont.eot?') format('eot'),
	url('fonts/myriad_pro/myriadpro-regular-webfont.woff') format('woff'),
	url('fonts/myriad_pro/myriadpro-regular-webfont.ttf') format('truetype'),
	url('fonts/myriad_pro/myriadpro-regular-webfont.svg#webfontMGtq8t3T') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*HelveticaNeueThinCondensed*/
@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-ThCn';
	src: url('fonts/helvetica_neue_thin_condensed/HelveticaNeueLTStd-ThCn.eot');
	src: local('☺'), url('fonts/helvetica_neue_thin_condensed/HelveticaNeueLTStd-ThCn.woff') format('woff'), url('fonts/helvetica_neue_thin_condensed/HelveticaNeueLTStd-ThCn.ttf') format('truetype'), url('fonts/helvetica_neue_thin_condensed/HelveticaNeueLTStd-ThCn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*HelveticaNeueLightCondensed*/
@font-face {
	font-family: 'HelveticaNeue47LightCondensed';
	src: url('fonts/helvetica_light_condensed/helveticaneue-lightcond-webfont.eot?') format('eot'),
	url('fonts/helvetica_light_condensed/helveticaneue-lightcond-webfont.woff') format('woff'),
	url('fonts/helvetica_light_condensed/helveticaneue-lightcond-webfont.ttf') format('truetype'),
	url('fonts/helvetica_light_condensed/helveticaneue-lightcond-webfont.svg#webfontMGtq8t3T') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*HelveticaNeueLTStdCondensedRegular*/
@font-face {
    font-family: 'helveticaneuelt_std_cnregular';
    src: url('fonts/helvetica_neue_ltstd_condensed/helveticaneueltstd-cn.eot');
    src: url('fonts/helvetica_neue_ltstd_condensed/helveticaneueltstd-cn.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_neue_ltstd_condensed/helveticaneueltstd-cn.woff') format('woff'),
         url('fonts/helvetica_neue_ltstd_condensed/helveticaneueltstd-cn.ttf') format('truetype'),
         url('fonts/helvetica_neue_ltstd_condensed/helveticaneueltstd-cn.svg#helveticaneuelt_std_cnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*HelveticaNeueMediumCondensed*/
@font-face {
	font-family: 'HelveticaNeue67MdCn';
	src: url('fonts/helvetica_neue_medium_condensed/helveticaneue-mediumcond-webfont.eot?') format('eot'),
	url('fonts/helvetica_neue_medium_condensed/helveticaneue-mediumcond-webfont.woff') format('woff'),
	url('fonts/helvetica_neue_medium_condensed/helveticaneue-mediumcond-webfont.ttf') format('truetype'),
	url('fonts/helvetica_neue_medium_condensed/helveticaneue-mediumcond-webfont.svg#webfontMGtq8t3T') format('svg');
	font-weight: normal;
	font-style: normal;
}

body.public{
	padding-top: 40px;
	background: #2C2C2D;
	color: #bdbdbd;
}

body{
	font-family:  'helveticaneuelt_std_cnregular', Arial, Tahoma, Helvetica, sans-serif;
	padding-top: 50px;
}

body > .container > .content {
	min-height: 200px;
}


/* @group Generic */

.clear{
	clear: both;
}

a,
a:hover{
	text-decoration: none;
}
a:focus {
  outline: none;
}

textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*Buttons BTN - BTN Primary*/
.btn{
	min-height: 28px;
	padding: 0px 15px 0px 15px;
	margin: 0px;
	background: none;
	background-color: #0099BF;
	color: #fff;
	border: none;
	text-shadow: none;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	font-size: 12px;
	line-height: 28px;
	font-family: 'MyriadProRegular', Arial, Helvetica, Tahoma, sans-serif;
}

.btn:hover{
	background-color: #0088AB;
	color: #fff;
}

.btn.disabled {
	cursor: default;
}

.btn.in-progress {
	cursor: wait;
}
/* @end */



/* @group Tool Bar */

.navbar .navbar-inner {
  height: 50px;
  padding: 0px;
  background: #C74139 url(bg_navbar.png) repeat-x top;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.navbar .conteiner{

}

.navbar .brand{
	padding: 0px 10px 0px 10px;
	margin: 0px;
	top: 8px;
	position: relative;
	line-height: 26px;
	font-size: 18px;
	color: #999;
}

.navbar .brand:hover{
	color: #FFC400;
}

.navbar .brand:hover{

}

/*NAVBAR MENU*/

.navbar .navbar-inner ul.nav.pull-right{

}

.navbar .navbar-inner ul.nav.pull-right li{
	margin: 12px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
	border-left: 1px solid #A63229;
}

.navbar .navbar-inner ul.nav.pull-right li a{
	padding: 4px 0px 0px 0px;
	color: #66221C;
	font-size: 16px;
	text-shadow: 0 1px 0 #FF7266;
	line-height: 20px;
}

.navbar .navbar-inner ul.nav.pull-right li a:hover{
	color: #451713;
}

/*User avatar & dropdown menu*/
.navbar .navbar-inner ul.nav.pull-right li a.dropdown-toggle.user{
	position: relative;
	top: -1px;
	padding: 0px;
	background: none;
}

.navbar .navbar-inner ul.nav.pull-right li a.dropdown-toggle.user img{
	/*border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}

.navbar .navbar-inner ul.nav.pull-right li a.dropdown-toggle.user b.caret{
  margin: 10px 0px 0px 4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid #66221C;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
}

.navbar .navbar-inner ul.nav.pull-right li a.dropdown-toggle.user:hover b.caret{
  border-top: 5px solid #33110E;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user{
	top: 43px;
	padding: 6px 0px 6px 0px;
  background: #D9463D;
  border: none;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 16px solid #B83D34;
  position: absolute;
  top: -15px;
  left: 108px;
  right: 39px;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user:after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 16px solid #D9463D;
  position: absolute;
  top: -15px;
  left: 108px;
  right: 39px;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user li{
	height: auto;
	margin: 0px;
	padding: 0px 7px 0px 7px;
	border: none;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user li a{
	padding: 5px 5px 2px 5px;
	border-bottom: 1px solid #A63229;
	font-size: 15px;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user li a:hover{
	padding: 5px 5px 2px 6px;
	background: none;
	text-shadow: 0 1px 0 #FF958C;
}

.navbar .navbar-inner ul.nav.pull-right li.dropdown ul.dropdown-menu.user li:last-child a{
	border: none;
}

/*Rest of the menu*/
.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.invite{
	padding: 4px 0px 0px 32px;
	background: url(icn_navbar_mnu.png) no-repeat 0px -61px;
}

.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.invite:hover{
	background: url(icn_navbar_mnu.png) no-repeat 0px -91px;
}

.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.stadium{
	padding: 4px 0px 0px 28px;
	background: url(icn_navbar_mnu.png) no-repeat 0px -120px;
}

.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.stadium:hover{
	background: url(icn_navbar_mnu.png) no-repeat 0px -150px;
}

.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.record{
	padding: 4px 0px 0px 30px;
	background: url(icn_navbar_mnu.png) no-repeat 0px -181px;
}

.navbar .navbar-inner ul.nav.pull-right li a.btn-nav.record:hover{
	background: url(icn_navbar_mnu.png) no-repeat 0px -211px;
}

.navbar .navbar-inner ul.nav.pull-right li.notifications a.read {
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 20px;
	height: 20px;
	font-size: 8px;
	color: #fff;
	text-shadow: none;
	text-align: center;
	background: url(icn_navbar_mnu.png) no-repeat -3px -242px;
	line-height: 16px;
}


/*ALERT ERROR*/

.navbar .alert{
	width: 170px;
	margin: 0px;
	position: absolute;
	right: 10px;
	top: 46px;
	padding: 12px;
	background: #fff;
	border: 1px solid #ddd;
	text-shadow: none;
	font-size: 13px;
	line-height: 18px;
	color: #666;
	-webkit-box-shadow:  -3px 4px 7px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  -3px 4px 7px 0px rgba(0, 0, 0, 0.5);
}

.navbar .alert:after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  top: -15px;
  left: 154px;
  right: 27px;
}

.navbar .alert button.close{
	padding: 0px 0px 6px 0px;
  position: relative;
  top: -7px;
  right: -8px;
  line-height: 8px;
}

.navbar .alert p {
	padding: 0px;
	margin: 0px 10px 0px 0px;
	line-height: 19px;
	color: #444;
}

.navbar .alert a {
	font-size: 14px;
}

.navbar .alert a {
	font-size: 14px;
}

/* @end */




/* @group Header */
.header-site{
	padding: 15px 0px 20px 0px;
	background-image: linear-gradient(bottom, #303030 0%, #373738 29%, #373738 87%, #404042 100%);
	background-image: -o-linear-gradient(bottom, #303030 0%, #373738 29%, #373738 87%, #404042 100%);
	background-image: -moz-linear-gradient(bottom, #303030 0%, #373738 29%, #373738 87%, #404042 100%);
	background-image: -webkit-linear-gradient(bottom, #303030 0%, #373738 29%, #373738 87%, #404042 100%);
	background-image: -ms-linear-gradient(bottom, #303030 0%, #373738 29%, #373738 87%, #404042 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #303030),
		color-stop(0.29, #373738),
		color-stop(0.87, #373738),
		color-stop(1, #404042)
		);
}

.header-site .header-content{
	font-family: 'HelveticaNeue47LightCondensed';
	color: #BFBFBF;
}

.header-site .header-content .pre-content{
	padding: 0px 0px 0px 0px;
}

.header-site .header-content h1{
	margin: 0px 0px 5px 0px;
	font-weight: normal;
	font-size: 24px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #666;
}

.header-site .header-content h1 img{
	position: relative;
	top: -3px;
	left: 5px;
}

.header-site .header-content p strong{
	color: #ddd;
}


/* @end */

/* primary menu */
.primary-menu-wrapper {
	height: 40px;
	background: #ec3e32 url(bg_mnu.gif) repeat-x;
	font-family: 'HelveticaNeue67MdCn';
}

#primary_menu {
	color: black;
	padding: 0px;
	margin: 0;
}

#primary_menu li {
	padding: 4px 15px 4px 15px;
	border-right: 1px solid #BA2420;
	display: inline;
}

#primary_menu li:last-child{
	border: none;
}

#primary_menu li:after {

}

#primary_menu a {
	color: #7F1F1F;
	line-height: 40px;
	text-decoration: none;
}

#primary_menu a:hover{
	color: #EFDFDF;
}

.main-content-wrapper {

}

.main-content .title {
	text-transform: uppercase;
}

/* misc */

ul.horizontal > li {
	display: inline;
}

div.show-later {
	display: none;
}

/* @group Content */

.main-content .title {
	height: 50px;
	padding: 0px 0px 0px 55px;
}

.main-content .title.match34 {
	background: #373738 url(icn_match_34.png) no-repeat 10px 8px;
}

.main-content {
	padding: 5px 0px 0px 0px;
}

.main-content .title h2{
	font-family: 'HelveticaNeue47LightCondensed';
	font-weight: lighter;
	font-size: 24px;
	color: #BFBFBF;
	line-height: 50px;
  margin: 0;
}

/*HOME*/

body.home.action_authenticated{
	background: #2C2C2D;
}

.home.action_authenticated .main-content{
	height: 500px;
	padding: 80px 0px 0px 0px;
	background: url(grass_home.jpg) no-repeat 380px 80px;
}

.home.action_authenticated .main-content h2{
	padding: 0px;
	margin: 28px 0px 0px 0px;
	color: #E6E6E6;
	font-weight: normal;
	font-family: 'Conv_HelveticaNeueLTStd-ThCn';
	font-size: 41px;
	letter-spacing: 1px;
	line-height: 42px;
	text-align: center;
}

.home.action_authenticated .main-content h2 b{
	font-size: 40px;
	letter-spacing: 0px;
}

.home.action_authenticated .main-content h1{
	padding: 0px 0px 20px 0px;
	margin: 0px;
	color: #E6E6E6;
	font-family: 'HelveticaNeue67MdCn';
	font-size: 42px;
	letter-spacing: 1px;
	border-bottom: 1px solid #fff;
	text-align: center;
}

.home.action_authenticated .main-content a.btn-home{
	width: 180px;
	margin: auto;
	margin-top: 5px;
	padding: 4px 10px 0px 60px;
	display: block;
	background-color: #232324;
	color: #999;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: normal;
	line-height: 47px;
	border-bottom: 1px solid #000;
}

.home.action_authenticated .main-content a.btn-home:hover{
	color: #ddd;
	background-color: #1E1E1F;
}

.home.action_authenticated .main-content a.btn-home.match{
	background-image: url(icn_match_34.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.home.action_authenticated .main-content a.new-match-btn{
	width: 220px;
	margin: auto;
	margin-top: 5px;
	box-shadow:-2px 1px 9px #000;
  -webkit-box-shadow:-4px 4px 24px #000;
  -moz-box-shadow: -2px 1px 9px #000;
}



/*GAME HISTORY*/

.action_index .history-content{

	padding: 0px 0px 10px 0px;
	margin: 1px 0px 30px 0px;
}

.action_index .history-content h3{
	padding: 0px 0px 0px 12px;
	margin: 0px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 38px;
	color: #ccc;
	background: #373738;
}

.action_index .history-content table.table{
	margin: 0px 0px 1px 0px;
}

.action_index .history-content table.table th{
	padding: 5px 15px 0px 15px;
	background: #E6E6E6;
	border-bottom: 1px solid #ccc;
	border-right: 4px solid #fff;
	border-top: none;
	line-height: 35px;
}

.action_index .history-content table.table tr{
	padding: 0px;
	border-top: 1px solid #E0E0E0;
}

.action_index .history-content table.table td{
	height: 36px;
	padding: 0px;
	font-size: 14px;
	line-height: 36px;
	background: #fff;
}

.action_index .history-content table.table td.teams-score{
	width: 104px;
	text-align: center;
}

.action_index .history-content table.table td.teams-score img{
	width: 16px;
	height: 16px;
	top: -2px;
	position: relative;
}

.action_index .history-content table.table td.date{
	width: 200px;
	padding: 0px 0px 0px 10px;
}

.action_index .history-content table.table td.type{
	width: 104px;
}

.action_index .history-content table.table td.stadium-name{
	width: 320px;
	color: #529900;
}

.action_index .history-content table.table td.link{
	width: 36px;
}

.action_index .history-content table.table td.link a{
	width: 36px;
	height: 36px;
	display: block;
	background: url(icn_match_arrow_list.png) no-repeat -2px -2px;
	border: none;
	padding: 0px;
	color: red;
	font-size: 0px;
}

.action_index .history-content table.table td.link a:hover{
	background: url(icn_match_arrow_list.png) no-repeat -2px -44px;
}

/*USERS*/
.logged.users .content ul.unstyled li{
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 6px 0px;
	border-bottom: 1px solid #bbb;
}

.logged.users .content ul.unstyled li img{
	width: 40px;
	height: 40px;
	margin: 0px 10px 0px 0px;
	 border-radius: 26px 26px 26px 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
}



/* @end */



/* @group Sidebar */


.sidebar{
	padding: 0px;
}

a.new-match-btn{
	margin: 5px 0px 0px 0px;
	padding: 2px 15px 0px 15px;
	display: block;
	background: #FFC400;
	color: #613D00;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: normal;
	line-height: 47px;
	border-bottom: 1px solid #BD7800;
}

a.new-match-btn:hover{
	background: #FFBB00;
}

a.new-match-btn .icon{
	width: 28px;
	height: 29px;
	margin: 8px 10px 0px 0px;
	background: url(sprites.png) 0px -1px;
	float: left;
}

a.new-match-btn:hover .icon{
	background: url(sprites.png) 0px -33px;
}

.sidebar .wrapper{
	margin: 5px 0px 0px 0px;
}

.sidebar .wrapper .title{
	height: 50px;
	padding: 0px 0px 0px 55px;
	border-bottom: 1px solid #595959;
}

.sidebar .wrapper .title h2{
	font-family: 'HelveticaNeue47LightCondensed';
	font-weight: lighter;
	font-size: 24px;
	text-transform: uppercase;
	color: #BFBFBF;
	line-height: 50px;
	margin: 0px;
}

/*BOX CONFIRMACION*/
.sidebar .wrapper.invite-confirm{
	margin: 5px 0px 0px 0px;
}

.sidebar .wrapper .title.pending,
.sidebar .wrapper .title.accepted,
.sidebar .wrapper .title.declined {
	background: #373738 url(icn_match_34.png) no-repeat 10px 8px;
}

.sidebar .wrapper.invite-confirm .input{
	padding: 15px;
	background: #373738;
	color: #CCCCCC;
}

.sidebar .wrapper.invite-confirm .input a{
	display: block;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #595959;
}

.sidebar .wrapper.invite-confirm .input a img{
	margin: 0px 10px 0px 0px;
}

.sidebar .wrapper.invite-confirm .input a.choose{
	font-size: 17px;
	color: #ccc;
}

.sidebar .wrapper.invite-confirm .input a.choose:hover{
	color: #fff;
}

/*BOX INVITATION LIST*/



/*BOX FRIENDS*/
.sidebar .wrapper.friends{
	margin: 5px 0px 0px 0px;
	background: #EDEDED;
}

.sidebar .wrapper.friends .title.player34{
	background: #373738 url(icn_player_34.png) no-repeat 10px 8px;
}

.sidebar .wrapper.friends ul#friends_list{
	margin: 0px;
}

.sidebar .wrapper.friends ul#friends_list li{
	padding: 3px 15px 3px 15px;
	font-size: 14px;
	border-bottom: 1px solid #dadada;
}

.sidebar .wrapper.friends ul#friends_list li:last-child{
	border: none;
}

.sidebar .wrapper.friends ul#friends_list li label{
	margin: 0px;
}

.sidebar .wrapper.friends ul#friends_list li img{
	width: 24px;
	height: auto;
	margin: 0px;
	/*border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.sidebar .wrapper.friends ul#friends_list li .user-name{
	width: 160px;
	margin: 0px 0px 0px 5px;
	position: relative;
	top: 3px;
	overflow: hidden;
	display: inline-block;
}

.sidebar .wrapper.friends ul#friends_list li input.select{
	float: right;
	margin: 6px 0px 0px 0px;
}

.sidebar .wrapper.friends a.btn{
	font-size: 13px;
	margin: 0px;
	position: relative;
	padding: 0px;
}

.sidebar .wrapper.friends .box-footer{
	height: 38px;
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #ccc;
	background: #f2f2f2;
}

.sidebar .wrapper.friends .box-footer a#invite_button{
	width: 100%;
	height: 40px;
	padding: 0px 0px 0px 0px;
	border: none;
	line-height: 40px;
	background: #0088AB url(icn_invite.png) no-repeat -1px -1px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	border-radius: 0px;
	text-shadow: none;
}

.sidebar .wrapper.friends .box-footer a#invite_button:hover{
	background: #0099BF url(icn_invite.png) no-repeat -1px -1px;
}


/* @end */

/* @group Footer */


footer{
	margin-top: 10px;
	padding: 20px 0px 0px 0px;
	background: #373738;
}

footer .bar-bottom{
	padding: 15px;
	background: #262626;
}

footer .bar-bottom .copyright{
	width: 1036px;
	margin: auto;
	text-align: center;
	font-size: 11px;
	color: #A6A6A6;
	letter-spacing: 1px;
}

footer .bar-bottom .copyright a{
	color: #A6A6A6;
}

footer .bar-bottom .copyright a:hover{
	color: #54b6c6;
}

/* @end */

/* @group Pop-Ups */

.popup{
	display: none;
	-webkit-border-radius: 8px 8px 6px 6px;
	-moz-border-radius: 8px 8px 6px 6px;
	border-radius: 8px 8px 6px 6px;
	border: none;
}

.popup .modal-header{
	padding: 14px 20px 8px 20px;
	background: #373738;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	border: none;
	text-align: left;
}

.popup .modal-header h3{
	text-align: left;
	color: #ddd;
	font-size: 21px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 24px;
}

.popup .modal-header button.close{
	width: 20px;
	height: 20px;
	background: url(sprites.png) no-repeat -32px -40px;
	opacity: 9;
	position: relative;
	top: -4px;
	cursor: pointer;
}

.popup .modal-header button.close:hover{
	background: url(sprites.png) no-repeat -32px -21px;
}

.popup .modal-body{
	max-height: none;
}

.popup .modal-body h5{
	margin: 0px 0px 10px 0px;
	font-weight: normal;
}

.popup .modal-body p b{
	color: #008FB3;
}

.popup .control-group{
	text-align: center;
}

.popup form {
	margin:0;
}

/*MODAL INVITE TO REGISTER*/
.popup form#invite_to_register textarea {
	width: 100%;
	min-height: 70px;
}


/*MODAL INVITE*/

#invite_friends_modal ul.users-to-invite {
  padding: 0 0 12px 0;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid #d6d6d6;
}

#invite_friends_modal ul.users-to-invite li.nobody {
	font-style: italic;
	color: #AAA;
	font-size: 90%;
}

#invite_friends_modal ul.users-to-invite li.user{
	width: 34px;
	height: 34px;
	margin: 0px 5px 5px 0px;
	border-radius: 18px 18px 18px 18px;
  	-moz-border-radius: 18px;
  	-webkit-border-radius: 18px;
  	display: inline-block;
  	border: 2px solid #dedede;
  	background: #dfdfdf;
}

#invite_friends_modal ul.users-to-invite li img{
	width: 34px;
	height: auto;
	margin: 0px;
	border-radius: 18px 18px 18px 18px;
  	-moz-border-radius: 18px;
  	-webkit-border-radius: 18px;
}

#invite_friends_modal textarea {
  width: 100%;
  background: #E0E0E0;
  border: 1px solid #bbb;
  min-height: 30px;
}

#invite_friends_modal textarea#invite_emails{
  font-size: 12px;
}

/*THANKS MODAL INVITE*/

#invite_friends_modal img{
	margin: 25px 0px 40px 25px;
}

#invite_friends_modal h4.confirmation-title{
	margin: 40px 0px 0px 0px;
	color: #008FB3;
	font-size: 36px;
	line-height: 32px;
}

#invite_friends_modal p.message{
	margin: 0px 0px 10px 0px;
	color: #008FB3;
	font-size: 15px;
}

/* @end */

.navbar li.notifications li.notification.unread {
	background-color: red;
}




