

/*NAVBAR*/




body.public .navbar .navbar-inner {
	background: #1E1E1F;
	text-align: right;
	line-height: 46px;
	font-size: 12px;
	color: #ccc;
}

body.public .navbar .navbar-inner a.btn-fb {
	width: 71px;
	height: 22px;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 25px;
	display: inline-block;
	background: url(login/btn-fb-login.png) no-repeat 0px 0px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	font-family: 'MyriadProRegular', Arial, Helvetica, Tahoma, sans-serif;
}

body.public .navbar .navbar-inner a.btn-fb:hover {
	background: url(login/btn-fb-login.png) no-repeat 0px -24px;
}

body.public .navbar .navbar-inner form {
	width: 405px;
	margin: 0px;
	display: inline-block;
	text-align: left;
}

body.public .navbar .navbar-inner form .control-group {
	margin: 0px;
	padding: 0px;
	float: left;
}

body.public .navbar .navbar-inner form .control-group .controls {
	margin: 0px;
	padding: 0px;
}

body.public .navbar .navbar-inner form .control-group .controls input {
	width: 140px;
	height: 16px;
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 0px 8px;
	font-size: 12px;
	line-height: 12px;
	font-family: 'MyriadProRegular', Arial, Helvetica, Tahoma, sans-serif;
}

body.public .navbar .navbar-inner form input.btn.btn-primary {
	width: 70px;
	height: 25px;
	padding: 0px;
	margin: 0px 0px 0px 8px;
	font-size: 12px;
	line-height: 18px;
	background: #000;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

body.public .navbar .navbar-inner form input.btn.btn-primary:hover{
	background: #393939;
}

/*Recover Pass Navbar*/

body.public .navbar .alert:after {
	content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  top: -15px;
  left: 234px;
  right: 26px;
}

body.public .navbar .alert {
	width: 250px;
	padding: 12;
	margin: 0px 0px 10px 755px;
	position: relative;
	top: 15px;
	right: 0px;
	text-align: left;
}

/*Recover Pass Page*/

body.public.action_new .content .recovery-box{
	padding: 20px 20px 30px 20px;
	background: #1E1E1F;
}

body.public.action_new .content .recovery-box h2{
	margin: 0px 0px 10px 0px;
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
}

body.public.action_new .content .recovery-box label{
	margin: 15px 0px 5px 0px;
	
}

/* My Comment */

body.public .logo {
	padding: 0px 0px 5px 0px;
}

body.public .top-title {
	padding: 45px 0px 0px 0px;
}

body.public .top-title h2 {
	font-size: 54px;
	font-weight: bold;
	line-height: 45px;
	color: #eee;
	text-align: right;
}

body.public .separator-line {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #666;
}

/*WELCOME*/
body.public .welcome {
	height: 350px;
	margin: 40px 0px 0px 0px;
	background: url(login/graf_grass_ball_shoes.jpg) no-repeat 0px 5px;
}

body.public .welcome h3 {
	margin: 0px;
	font-size: 29px;
	color: #ddd;
	line-height: 34px;
}

body.public .welcome p {
	width: 280px;
	font-size: 14px;
	color: #ccc;
	line-height: 20px;
}


/*LOGIN*/

body.public .title-login-box {
	margin: 45px 0px 5px 0px;
	padding: 0px 0px 0px 20px;
}

body.public .title-login-box h3 {
	margin: 0px;
	font-size: 14px;
	font-weight: normal;
	color: #FFC400;
	line-height: 18px;
}

body.public .login-box {
	padding: 20px 20px 30px 20px;
	background: #1E1E1F;
}

body.public .login-box .register {
	margin: 15px 0px 0px 0px;
}

/*Register Facebook*/
body.public .login-box .register.fb {
	margin: 0px 0px 15px 0px;
}

body.public .login-box .register.fb a.btn-fb {
	width: 154px;
	height: 34px;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 36px;
	background: url(login/btn-fb-register.png) no-repeat 0px 0px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	font-family: 'MyriadProRegular', Arial, Helvetica, Tahoma, sans-serif;
	color: #fff;
}

body.public .login-box .register.fb a.btn-fb:hover {
	background: url(login/btn-fb-register.png) no-repeat 0px -36px;
}

/*Register Mail*/
body.public .login-box .register.mail {
	font-size: 13px;
}

body.public .login-box .control-group {
	padding: 5px 0px 0px 0px;
	float: left;
	width: 50%;
}

body.public .login-box .control-group input {
	width: 90%;
	margin: 0px 0px 5px 0px;
	padding: 2px 5px 2px 5px;
	font-size: 12px;
}

body.public .login-box .control-group input.password {
	width: 95%;
}

body.public .login-box form {
	margin: 0px;
}

body.public .login-box .register-bottom span {
	display: inline-block;
	font-size: 12px;
}

body.public .login-box .register-bottom span a{
	color: #118DB3;
	font-size: 14px;
}

body.public .login-box .register-bottom span a:hover{
	color: #fff;
}

body.public .login-box .register-bottom span a span{
	font-size: 14px;
}

body.public .login-box .register-bottom input.btn {
	width: 110px;
	height: 28px;
	margin: 0px;
	padding: 0px 26px 0px 0px;
	font-size: 11px;
	background: #121212 url(icn_register.png) no-repeat 82px 0px;
	color: #ccc;
}

body.public .login-box .register-bottom input.btn:hover{
	background: #303030 url(icn_register.png) no-repeat 82px 0px;
	color: #fff;
}


/*Like FobalHero*/
body.public .footer-login {
	margin: 10px 0px 10px 0px;
	padding: 15px 20px 15px 20px;
	background: #1E1E1F;
}

body.public .footer-login h4 {
	float: left;
	margin: 0px 20px 0px 0px;
	font-weight: normal;
}

body.public .footer-login h4 strong {
	color: #ddd;
}


/*BOX INFO*/

body.public .box-info {
	min-height: 160px;
	margin: 30px 0px 0px 0px;
}

body.public .box-info h3 {
	font-weight: normal;
	font-size: 25px;
	line-height: 40px;
}

body.public .box-info h3 strong {
	color: #ddd;
}

/*ONE*/
body.public .box-info .detail.one img {
	float: left;
}

body.public .box-info .detail.one ul {
	padding: 5px 0px 0px 0px;
	float: left;
}

body.public .box-info .detail.one ul li {
	line-height: 21px;
}

body.public .box-info .detail.one ul li strong {
	color: #FFC400;
	font-weight: normal;
}

/*TWO*/

body.public .box-info .detail.two {
	min-height: 120px;
	background: url(login/graf_match.png) no-repeat bottom left;
}

body.public .box-info .detail.two p {
	width: 130px;
	margin: 35px 70px 0px 0px;
	float: right;
}

/*Footer*/

body.public .under-content .bar-grass {
	height: 70px;
	margin: 50px 0px 10px 0px;
	background: url(login/grass_1.jpg) repeat-x;
}

body.public footer {
	padding: 0px 0px 10px 0px;
	text-align: center;
	background: none;
}

