

/*PESTAÑAS PARTIDOS*/



ul.nav.nav-match{
	margin: 0px;
	padding: 0px;
}

ul.nav.nav-match li{
	padding: 0px;
}

ul.nav.nav-match li.active{
	border: none;
}

ul.nav.nav-match li.active:hover{
	border: none;
}

ul.nav.nav-match li.active a{
	background: #373738;
	border: none;
	color: #ddd;
	padding: 8px 12px 8px 12px;
}

ul.nav.nav-match li.active a:hover{
	border: none;
	background: #373738;
	color: #ddd;
}

ul.nav.nav-match li a{
	border: none;
	background: #fff;
	margin: 0px;
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius:0px;
  	color: #666;
  	border-right: 1px solid #cacaca;
}

ul.nav.nav-match li a:hover{
	border: none;
	text-decoration: none;
	background: #373738;
	color: #ddd;
	border-right: 1px solid #cacaca;
}

/* @group Match */

.action_show .match-wrapper{
	border-radius: 8px 8px 8px 8px;
 -moz-border-radius-bottomleft: 8px;
 -moz-border-radius-bottomright: 8px;
 -moz-border-radius-topright: 8px;
 -moz-border-radius-topleft: 8px;
 -webkit-border-bottom-left-radius: 8px;
 -webkit-border-bottom-right-radius: 8px;
 -webkit-border-top-right-radius: 8px;
 -webkit-border-top-left-radius: 8px;
}

.action_show .match-wrapper form#match_form{
	padding: 0px;
}


.action_show .main-content .match-wrapper .title h2{
	width: 200px;
	float: left;
}

/*SAVE-EDIT MATCH*/

.match-wrapper form#match_form .btn.btn-primary{
	height: 50px;
	padding: 0px 20px 0px 40px;
	margin: 0px 0px 0px 2px;
	font-size: 14px;
	line-height: 50px;
	color: #eee;
	background: #2A2A2B;
	float: right;
	text-transform: capitalize;
}

.match-wrapper form#match_form input.btn.btn-primary{
	background: #2A2A2B url(icn_match_save_active.png) no-repeat 12px 15px;
}

.match-wrapper form#match_form input.btn.btn-primary:hover{
	background: #181818 url(icn_match_save_active.png) no-repeat 12px 15px;
}

.match-wrapper form#match_form input.disabled.btn.btn-primary{
	background: #2A2A2B url(icn_match_save_disabled.png) no-repeat 12px 15px;
}

.match-wrapper form#match_form #notify_changes.btn.btn-primary{
	background: #2A2A2B url(icn_match_notify_active.png) no-repeat 12px 15px;
}

.match-wrapper form#match_form #notify_changes.btn.btn-primary:hover{
	background: #181818 url(icn_match_notify_active.png) no-repeat 12px 15px;
}

.match-wrapper form#match_form #notify_changes.disabled.btn.btn-primary{
	color: #999;
	background: #2A2A2B url(icn_match_notify_disabled.png) no-repeat 12px 15px;
}

/*Match Details*/
.match-wrapper .match-details{
	border: 1px solid #bbb;
	height: 40px;
	font-size: 14px;
	line-height: 38px;
	background: #ececec;
	color: #4a4a4a;
}

.match-wrapper .match-details .match-type,
.match-wrapper .match-details .match-date,
.match-wrapper .match-details .match-time,
.match-wrapper .match-details .match-stadium-name {
  width: 176px;
  height: 36px;
  padding: 0px 0px 0px 15px;
  float: left;
  border-right: 1px solid #bbb;
  padding-top: 4px;
  font-size: 15px;
  color: #666;
}

.match-wrapper .match-details .editable-label{
	padding: 0px 20px 0px 0px;
	color: #0089B3;
	font-size: 20px;
	background: url(icn_edit_g.png) no-repeat right;
}

.match-wrapper .match-details .editable-label:hover{
	background: url(icn_edit_b.png) no-repeat right;
}

.match-wrapper .match-details .editable-field input,
.match-wrapper .match-details .editable-field select {
  margin-top: 1px;
}

.match-wrapper .match-details input{
	padding: 2px 5px 2px 5px;
}

/* Match date */
.match-wrapper .match-details .match-date {
	font-size: 15px;
}
.match-wrapper .match-details .match-date #play_at_date {
	width: 100px;
	color: #0099BF;
	font-size: 16px;
}

/* Match time */
.match-wrapper .match-details .match-time {
	font-size: 15px;
}
.match-wrapper .match-details .match-time #play_at_time {
	color: #0099BF;
	font-size: 16px;
}

/* Match stadium */
.match-wrapper .match-details .match-stadium-name {
  width: 179px;
  border-right: none;
  font-size: 15px;
}

.match-wrapper .match-details .match-stadium-name a {
	color: #529900;
	font-style: normal;
	text-decoration: none;
}
.match-wrapper .match-details .match-stadium-name a:hover {
	color: #8C2E27;
}
.match-wrapper .match-details .match-stadium-name #match_stadium_name {
	width: 112px;
	color: #529900;
	font-size: 15px;
}

.match-wrapper .match-details .match-stadium-name .stadium-name .editable-label {
	color: #529900;
	font-size: 16px;
}

/* Match type */
.match-wrapper .match-details .match-type #match_match_type {
  width: 110px;
  height: 25px;
  color: #0099BF;
  font-size: 16px;
  text-transform: uppercase;
}

.match-wrapper .match-details .match-type .editable-label{
  text-transform: uppercase;
}

.match-wrapper .match-details .editable-label.error {
	color: red;
}

/*Match TEAMS*/
.match-wrapper .teams{
	height: 60px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	background: #f7f7f7;
	color: #4a4a4a;
}

/*Team One*/
.match-wrapper .teams .team-one{
	width: 348px;
	height: 60px;
	padding: 0px 20px 0px 15px;
	border-right: 1px solid #bbb;
	float: left;
}

.match-wrapper .teams .team-one .score{
	font-size: 38px;
	font-weight: bold;
	color: #aaa;
	line-height: 70px;
}

.match-wrapper .teams .team-one .name{
	text-align: right;
	line-height: 60px;
	font-size: 18px;
	float: right;
}

.match-wrapper .teams .team-one .name .editable-label{
	padding: 0px 0px 0px 25px;
	background: url(icn_edit_g.png) no-repeat left;
}

.match-wrapper .teams .team-one .name .editable-label:hover{
	background: url(icn_edit_b.png) no-repeat left;
}

.match-wrapper .teams .team-one .name input#match_team_one_name{
	width: 240px;
	text-align: right;
	color: #0099BF;
	font-size: 14px;
}

/*Team Two*/
.match-wrapper .teams .team-two{
	width: 348px;
	height: 60px;
	padding: 0px 15px 0px 20px;
	float: right;
}

.match-wrapper .teams .team-two .score{
	font-size: 38px;
	font-weight: bold;
	color: #aaa;
	line-height: 70px;
	float: right;
}

.match-wrapper .teams .team-two .name{
	text-align: right;
	line-height: 60px;
	font-size: 18px;
}

.match-wrapper .teams .team-two .name .editable-label{
	padding: 0px 25px 0px 0px;
	background: url(icn_edit_g.png) no-repeat right;
}

.match-wrapper .teams .team-two .name .editable-label:hover{
	background: url(icn_edit_b.png) no-repeat right;
}

.match-wrapper .teams .team-two .name input#match_team_two_name{
	width: 240px;
	color: #0099BF;
	font-size: 14px;
}


/* @end */


/* @group Stadium */


.match-wrapper .stadium {
	margin: auto;
  background-image: url("stadium.jpg");
  width: 755px;
  height: 340px;
  position: relative;
}

.match-wrapper .substitutes .player {
  width: 50px;
  height: 50px;
  background-image: url("avatar.jpg");
  display: inline-block;
  text-shadow: 2px -1px 1px black;
  color: white;
}

.match-wrapper .stadium .player {
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 0px 0px 15px 30px;
  overflow: hidden;
  font-size: 18px;
  background: url(avatar_shadow_arrow_stadium.png) no-repeat 9px 39px;
}

.match-wrapper .stadium .player a{
  width: 40px;
  height: 40px;
  display: block;
  padding: 0px;
  margin: 0px;
  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border: 3px solid #fff;

  line-height: 0px;
}

.match-wrapper .stadium .player img{
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background: #fff;
  /*border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;*/
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
}

/* TEAM A */
.match-wrapper .stadium .player.number-0 {
  top: 78px;
  left: 225px;
}

.match-wrapper .stadium .player.number-2 {
  bottom: 80px;
  left: 72px;
}
.match-wrapper .stadium .player.number-4 {
  bottom: 126px;
  left: 206px;
}
.match-wrapper .stadium .player.number-6 {
  top: 95px;
  left: 45px;
}
.match-wrapper .stadium .player.number-8 {
  top: 16px;
  left: 130px;
}
.match-wrapper .stadium .player.number-10 {
  top: 80px;
  left: 145px;
}
.match-wrapper .stadium .player.number-12 {
  bottom: 135px;
  left: 128px;
}
.match-wrapper .stadium .player.number-14 {
  bottom: 100px;
  left: 275px;
}
.match-wrapper .stadium .player.number-16 {
  top: 48px;
  left: 288px;
}
.match-wrapper .stadium .player.number-18 {
  top: 6px;
  left: 210px;
}
.match-wrapper .stadium .player.number-20 {
  bottom: 60px;
  left: 160px;
}

/* TEAM B */

.match-wrapper .stadium .player.number-1 {
	top: 16px;
  right: 160px;
}

.match-wrapper .stadium .player.number-3 {
  top: 78px;
  right: 255px;

}
.match-wrapper .stadium .player.number-5 {
  bottom: 80px;
  right: 102px;

}
.match-wrapper .stadium .player.number-7 {
  bottom: 126px;
  right: 236px;
}
.match-wrapper .stadium .player.number-9 {
  top: 95px;
  right: 75px;
}
.match-wrapper .stadium .player.number-11 {
  bottom: 135px;
  right: 158px;
}
.match-wrapper .stadium .player.number-13 {
  top: 80px;
  right: 175px;
}
.match-wrapper .stadium .player.number-15 {
  top: 48px;
  right: 318px;
}
.match-wrapper .stadium .player.number-17 {
  bottom: 100px;
  right: 305px;
}
.match-wrapper .stadium .player.number-19 {
  bottom: 60px;
  right: 190px;
}
.match-wrapper .stadium .player.number-21 {
  top: 6px;
  right: 240px;
}


/* @end */

/* @group Invited */

.match-wrapper .invited h3 .right-arrow{
  width: 12px;
  height: 8px;
  margin: 0px 0px 0px 5px;
  background: url(sprites.png) no-repeat -50px 0px;
  display: inline-block;
  position: relative;
  top: -2px;
}

.match-wrapper form#match_form h4{
  margin: 0px;
  padding: 5px 10px 0px 10px;
  font-size: 14px;
  font-weight: normal;
  color: #3D92AD;
  line-height: 18px;
}

.match-wrapper ul.substitutes,
.match-wrapper ul.undecided,
.match-wrapper ul.not-going {
  padding: 0px 10px 0px 10px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.match-wrapper ul li.user {
  width: 30px;
  height: 30px;
  margin: 0px 4px 4px 0px;
  display: inline;
  display: inline-block;
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border: 3px solid #fff;
}

.match-wrapper ul li.user a img {
  width: 30px;
  height: 30px;
  margin: 0px 5px 5px 0px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.match-wrapper ul li.user img {
  width: 34px;
  height: 34px;
  margin: 0px 5px 5px 0px;
  border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
}

.match-wrapper .invited h3 {
  margin: 0px;
  padding: 5px 10px 0px 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  line-height: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.match-wrapper .invited h3:hover{
  color: #444;
  background: #f8f8f8;
}

/* @end */

/* @group Sidebar */

/*BOX RESUME*/

/*Step 0 - generales*/
.sidebar .wrapper .title.review{
  background: #373738 url(icn_match_34.png) no-repeat 10px 8px;
}

.sidebar .wrapper .info{
  background: #EDEDED;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sidebar .wrapper .info h4{
  margin: 0px 0px 5px 0px;
  padding: 2px 15px 0px 15px;
  font-size: 14px;
  color: #008FB3;
  line-height: 43px;
  border-bottom: 1px solid #ccc;
}

.sidebar .wrapper .input .question h3{
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  color: #FFC400;
  line-height: 45px;
}

.sidebar .wrapper .input tr.score td{
  border: none;
  font-size: 14px;
}

.sidebar .wrapper table.table.players-list{
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.sidebar .wrapper .input tr.score td.shield{
  width: 26px;
  padding: 8px 0px 0px 15px;
}

.sidebar .wrapper .input tr.score td.shield img{
  width: 24px;
  height: auto;
}

.sidebar .wrapper .input tr.score td.team-name{
  padding: 10px 0px 0px 5px;
}

.sidebar .wrapper .input tr.score td.team-score{
  width: 48px;
  padding: 8px 10px 0px 5px;
}
.sidebar .wrapper table.table.players-list td.avatar{
	width: 26px;
	padding: 5px 5px 5px 15px;
}

.sidebar .wrapper table.table.players-list td.avatar img{
	width: 24px;
	height: auto;
	/*border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.sidebar .wrapper table.table.players-list td.name{
	padding: 5px 0px 0px 0px;
	font-size: 13px;
	line-height: 13px;
}

.sidebar .wrapper table.table.players-list td.badges{
	width: 116px;
	text-align: right;
	padding: 8px 15px 0px 0px;
}

.sidebar .wrapper .steps-help{
	padding: 10px 15px 10px 15px;
	font-size: 12px;
	line-height: 16px;
}

.sidebar .wrapper .steps-help .icn-denounce{
	width: 17px;
	height: 16px;
	margin: 0px 5px 0px 0px;
	background: url(sprites.png) no-repeat 0px -260px;
	display: inline-table;
	position: relative;
	top: 3px;
}

/*Step 1 - played*/
.sidebar .wrapper.played-step .input{
	min-height: 100px;
	padding: 0px 0px 15px 0px;
	background: #373738 url(bg_sidebar_box_confirm.gif) repeat-x top;
	color: #CCCCCC;
}

.sidebar .wrapper.played-step .input .question{
	height: 45px;
	padding: 0px 15px 0px 20px;
	background: #282829;
}



.sidebar .wrapper.played-step .input .question h3 .left-arrow{
	width: 8px;
	height: 12px;
	margin: 0px 8px 0px 0px;
	background: url(sprites.png) no-repeat -36px 0px;
	display: inline-block;
}

.sidebar .wrapper.played-step .input div.yes, .sidebar .wrapper.played-step .input div.no{
	width: 105px;
	padding: 15px 0px 10px 0px;
}

.sidebar .wrapper.played-step .input div.yes a, .sidebar .wrapper.played-step .input div.no a{
	font-size: 18px;
	color: #E6E6E6;
}

.sidebar .wrapper.played-step .input div.yes{
	text-align: right;
	float: left;
}

.sidebar .wrapper.played-step .input div.yes a{
	padding: 0px 40px 0px 0px;
	display: block;
	height: 32px;
	line-height: 34px;
	background: url(icn_yes_s.png) no-repeat right;
}

.sidebar .wrapper.played-step .input div.no{
	text-align: left;
	float: right;
}

.sidebar .wrapper.played-step .input div.no a{
	padding: 0px 0px 0px 40px;
	display: block;
	height: 32px;
	line-height: 34px;
	background: url(icn_no_s.png) no-repeat left;
}

/*Step 2 - score*/

.sidebar .wrapper.score-step .input{
	padding: 0px 0px 13px 0px;
	background: #373738 url(bg_sidebar_box_confirm.gif) repeat-x top;
	color: #CCCCCC;
}

.sidebar .wrapper.score-step .input .question{
	height: 45px;
	padding: 0px 15px 0px 20px;
	background: #282829;
}

.sidebar .wrapper.score-step .input form#set_score_form{
	margin: 0px;
	text-align: right;
}

.sidebar .wrapper.score-step .input form#set_score_form table.proposed-score{
	height: 100px;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid #282828;
}

.sidebar .wrapper.score-step .input form#set_score_form table.proposed-score tr.score{

}

.sidebar .wrapper.score-step .input form#set_score_form table.proposed-score tr.score td{

}

.sidebar .wrapper.score-step .input form#set_score_form table.proposed-score tr.score td.team-score input{
	width: 40px;
	height: 15px;
	margin: 0px;
	padding: 3px 0px 3px 3px;
	font-size: 14px;
	background: #eee;
	border: 1px solid #eee;
	color: #555;
}

.sidebar .wrapper.score-step .input form#set_score_form input.btn{
	padding: 5px 8px 5px 8px;
	margin: 0px 25px 0px 0px;
	background: #0099BF;
	color: #D9F8FF;
	text-shadow: 0 -1px 0 #005266;
	text-transform: uppercase;
}

.sidebar .wrapper.score-step .input form#set_score_form input.btn:hover{
	background: #008FB3;
}



/*Step 2/1 - proposed score*/

.sidebar .wrapper.proposed-score-step .input{
	padding: 0px 0px 13px 0px;
	background: #373738 url(bg_sidebar_box_confirm.gif) repeat-x top;
	color: #CCCCCC;
}

.sidebar .wrapper.proposed-score-step .input .question{
	height: 45px;
	padding: 0px 15px 0px 20px;
	background: #282829;
}

.sidebar .wrapper.proposed-score-step .input table.proposed-score{
	margin: 0px 0px 5px 0px;
}

.sidebar .wrapper.proposed-score-step .input tr.score td{
	height: 24px;
}

.sidebar .wrapper.proposed-score-step .input tr.score td.shield{
	width: 24px;
	padding: 8px 0px 0px 20px;
}

.sidebar .wrapper.proposed-score-step .input tr.score td.team-name{
	padding: 12px 0px 0px 10px;
}

.sidebar .wrapper.proposed-score-step .input tr.score td.team-score{
	width: 20px;
	padding: 12px 15px 0px 0px;
	text-align: center;
}

.sidebar .wrapper.proposed-score-step .choice{
	height: 32px;
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #666;
}

.sidebar .wrapper.proposed-score-step .yes{
	width: 105px;
	float: left;
	text-align: right;
}

.sidebar .wrapper.proposed-score-step .yes a{
	padding: 0px 30px 0px 0px;
	text-align: left;
	background: url(icn_yes_s.png) no-repeat right;
}

.sidebar .wrapper.proposed-score-step .yes a:hover{
	color: #fff;
}

.sidebar .wrapper.proposed-score-step .yes a, .sidebar .wrapper.proposed-score-step .no a{
	width: 25px;
	height: 30px;
	display: inline-block;
	font-size: 18px;
	color: #ddd;
	line-height: 32px;
}

.sidebar .wrapper.proposed-score-step .no{
	width: 105px;
	float: right;
}

.sidebar .wrapper.proposed-score-step .no a{
	padding: 0px 0px 0px 30px;
	text-align: right;
	background: url(icn_no_s.png) no-repeat left;
}

.sidebar .wrapper.proposed-score-step .no a:hover{
	color: #fff;
}

.sidebar .wrapper.proposed-score-step .info table.table.players-list td{

}

.sidebar .wrapper .info table.table.players-list td.team-name{
	width: 160px;
	padding: 5px 0px 8px 15px;
	font-weight: bold;
	font-size: 14px;
	border: none;
}

.sidebar .wrapper .info table.table.players-list td.shield{
	width: 18px;
	padding: 5px 15px 8px 0px;
	text-align: center;
	border: none;
}

.sidebar .wrapper .info table.table.players-list td.shield img{
	width: 18px;
	height: auto;
}

.sidebar .wrapper .info table.table.players-list td.name{
	padding: 10px 5px 0px 0px;
}

.sidebar .wrapper .info table.table.players-list td.team-score{
	width: 18px;
	padding: 7px 15px 0px 0px;
	text-align: center;
}

.sidebar .wrapper .info table.table.players-list td.score{
	width: 18px;
	padding: 7px 5px 0px 0px;
	text-align: center;
}

.sidebar .wrapper .info table.table.players-list td.fake-score{
	width: 18px;
	padding: 7px 15px 0px 0px;
	text-align: center;
}


/*Step 3 - goals*/

.sidebar .wrapper.goals-step .input{
	padding: 0px 0px 2px 0px;
	background: #373738 url(bg_sidebar_box_confirm.gif) repeat-x top;
	color: #CCCCCC;
}

.sidebar .wrapper.goals-step .input .question{
	height: 45px;
	padding: 0px 15px 0px 20px;
	background: #282829;
}

.sidebar .wrapper.goals-step .input table.match-score{
	margin: 12px 0px 0px 0px;
}

.sidebar .wrapper.goals-step .input table.match-score td{
	width: 170px;
	padding: 5px 10px 3px 20px;
	font-size: 15px;
}

.sidebar .wrapper.goals-step .input table.match-score td.total-score{
	width: 24px;
	padding: 0px;
	font-size: 15px;
	color: #fff;
}

.sidebar .wrapper.goals-step .input table.match-score td.score{
	width: 24px;
	padding: 0px;
	font-size: 14px;
	color: #FFC400;
	font-weight: bold;
}

.sidebar .wrapper.goals-step .input .my-goals{
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

.sidebar .wrapper.goals-step .input .my-goals form{
	margin: 0px;
}

.sidebar .wrapper.goals-step .input .my-goals p{
	padding: 8px 20px 10px 22px;
	margin: 0px 0px 0px 0px;
	line-height: 30px;
	border-top: 1px solid #282828;
}

.sidebar .wrapper.goals-step .input .my-goals input#my_goals{
	width: 40px;
	height: 15px;
	margin: -3px 5px 0px 5px;
	padding: 3px 0px 3px 3px;
	font-size: 14px;
	background: #eee;
	border: 1px solid #eee;
	color: #555;
	border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.sidebar .wrapper.goals-step .input .my-goals input{
	padding: 2px 8px 2px 8px;
	margin: 0px 0px 0px 12px;
	background: #0099BF;
	color: #D9F8FF;
	text-shadow: 0 -1px 0 #005266;
	text-transform: uppercase;
	border: none;
	font-size: 11px;
	border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.sidebar .wrapper.goals-step .input .my-goals input:hover{
	background: #008FB3;
}

.sidebar .wrapper.goals-step .input .my-goals a.no-goals{
	padding: 7px 8px 4px 8px;
	margin: 0px 5px 0px 5px;
	background: #0099BF;
	color: #D9F8FF;
	text-shadow: 0 -1px 0 #005266;
	border: none;
	font-size: 14px;
	border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.sidebar .wrapper.goals-step .input .my-goals a.no-goals:hover{
	background: #008FB3;
}

.sidebar .wrapper.goals-step .info h4{
	margin: 0px;
	border: none;
}

/*Step 5 - qualify*/
.sidebar .wrapper.qualify-step{

}

.sidebar .wrapper.qualify-step .steps-help{
	padding: 5px 15px 10px 15px;
	border-bottom: 1px solid #ccc;
}

.sidebar .wrapper.qualify-step .stadium{
	padding: 5px 15px 5px 15px;
}

.sidebar .wrapper.qualify-step .stadium h5{
	margin: 0px;
	color: #529900;
	font-size: 14px;
}

.sidebar .wrapper.qualify-step .stadium ul.stars{
	margin: 0px;
}


/*Step 6 - review*/

.sidebar .wrapper.played-step .info table.table.match-score{
	margin: 0px 0px 5px 0px;
}

.sidebar .wrapper.played-step .info table.table.match-score td{
	border: none;
}

.sidebar .wrapper.played-step .info table.table.match-score td.shield{
	padding: 6px 0px 8px 15px;
	width: 35px;
}

.sidebar .wrapper.played-step .info table.table.match-score td.shield img{
	width: 24px;
	height: auto;
}

.sidebar .wrapper.played-step .info table.table.match-score td.name{
	padding: 9px 0px 0px 0px;

}

.sidebar .wrapper.played-step .info table.table.match-score td.score{
	width: 23px;
	padding: 9px 15px 0px 8px;
	font-size: 17px;
	font-weight: bold;
	text-align: right;
	color: #555;
}

.sidebar .wrapper.played-step .info table.table.players-list{
	margin: 0px 0px 5px 0px;
}

.sidebar .wrapper.played-step .info table.table.players-list td{

}

.editable {
  cursor: pointer;
}
.editable .hidden {
  display: none;
}





.stars .star a {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0px 2px 0px 0px;
  padding: 0;
  display: inline-block;
  background-image: url('icn_star_off.png');
}

.stars .star.active a, .stars .star.hover a {
  background-image: url('icn_star_on.png');
}

ul.badges li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
}

ul.badges.labels{
  padding: 5px 15px 15px 15px;
}

ul.badges.labels li {
  display:block;
  width: auto;
  padding-left: 22px;
  padding-bottom: 2px;
  font-size: 12px;
}

/* @end */
