
ul.badges {
  margin: 0px;
  list-style: none;
}
ul.badges li {
  width: 16px;
	height: 16px;
	margin: 0px;
	padding: 0px;
  list-style: none;
  display: inline-block;
  
}

ul.badges li.goals {
	margin: 0px 1px 0px 0px;
	background: #333;
 	color: white;
 	text-align: center;
	font-size: 10px;
	padding: 0px;
	border-radius: 3px 3px 3px 3px;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	position: relative;
 	top: -4px;
}
ul.badges li.fake-goals {
  
}

ul.badges li.fake-goals a{
  background: #b2b2b2;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
ul.badges .fake-goals.other-voted {
  
}

ul.badges .fake-goals.other-voted a{
  background: #b2b2b2;
  text-align: center;
  font-size: 12px;
  color: #880000;
  line-height: 18px;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
ul.badges.labels li.fake-goals.voted {
  background: url(sprites.png) no-repeat 1px -260px;
}

ul.badges li.fake-goals.voted a{
  background: #B30000;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
ul.badges li.yellow-card {
  background: url(sprites.png) no-repeat 0 -134px;
}
ul.badges .yellow-card.other-voted {
  background: url(sprites.png) no-repeat -18px -134px;
}
ul.badges li.yellow-card.voted {
  background: url(sprites.png) no-repeat -36px -134px;
}
ul.badges li.red-card {
  background: url(sprites.png) no-repeat 0 -152px;
}
ul.badges .red-card.other-voted {
  background: url(sprites.png) no-repeat -18px -152px;
}
ul.badges li.red-card.voted {
  background: url(sprites.png) no-repeat -36px -152px;
}
ul.badges li.doping {
  background: url(sprites.png) no-repeat 0 -170px;
}
ul.badges .doping.other-voted {
  background: url(sprites.png) no-repeat -18px -170px;
}
ul.badges li.doping.voted {
  background: url(sprites.png) no-repeat -36px -170px;
}
ul.badges li.man-of-the-match {
  background: url(sprites.png) no-repeat 0 -188px;
}
ul.badges .man-of-the-match.other-voted {
  background: url(sprites.png) no-repeat -18px -188px;
}
ul.badges li.man-of-the-match.voted {
  background: url(sprites.png) no-repeat -36px -188px;
}
ul.badges li.cold-chest {
  background: url(sprites.png) no-repeat 0 -206px;
}
ul.badges .cold-chest.other-voted {
  background: url(sprites.png) no-repeat -18px -206px;
}
ul.badges li.cold-chest.voted {
  background: url(sprites.png) no-repeat -36px -206px;
}
ul.badges li.betrayer {
  background: url(sprites.png) no-repeat 0 -225px;
}
ul.badges .betrayer.other-voted {
  background: url(sprites.png) no-repeat -18px -225px;
}
ul.badges li.betrayer.voted {
  background: url(sprites.png) no-repeat -36px -225px;
}
