<%= simple_form_for(@stadium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_one %>
    <%= f.input :phone_two %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :description %>
    <%= f.input :lat %>
    <%= f.input :lon %>
    <%= f.input :logo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
