<div class="stadiums-wrapper">

    <table class="table">
      <tr>
        <th class="span1"></th>
        <th><%= Stadium.human_attribute_name :name %></th>
        <th><%= Stadium.human_attribute_name :phone_one %></th>
        <th><%= Stadium.human_attribute_name :address %></th>
        <th><%= Stadium.human_attribute_name :website %></th>
        <th><%= Stadium.human_attribute_name :email %></th>
        <th><%= Stadium.human_attribute_name :description %></th>
      </tr>

    <% @stadiums.each do |stadium| %>
      <tr>
        <td><%= link_to image_tag(stadium.logo.url(:thumb)), stadium_path(stadium) %></td>
        <td><%= link_to stadium.name, stadium_path(stadium) %></td>
        <td><%= stadium.phone_one %> <%= stadium.phone_two %></td>
        <td><%= stadium.address %></td>
        <td><%= website_for_stadium(stadium) %></td>
        <td><%= stadium.email %></td>
        <td><%= description_for_stadium(stadium) %></td>
      </tr>
    <% end %>
    </table>
</div>

<%= link_to 'New Stadium', new_stadium_path %>
