<% content_for :javascript do %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

  <script type="text/javascript">
    $(document).ready(function(){
      var stadium = new google.maps.LatLng(<%= @stadium.lat %>,<%= @stadium.lon %>);
      var mapOptions = {
        zoom: 15,
        center: stadium,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var marker = new google.maps.Marker({
        position: stadium,
        id: '1',
        title: "<%= @stadium.name %>",
        cursor: 'pointer',
        flat: false,
        map: map
      });
      // ,icon: new google.maps.MarkerImage('/assets/placemark.png',
      //   new google.maps.Size(32, 35),
      //   new google.maps.Point(0, 0),
      //   new google.maps.Point(32 / 2, 35),
      //   new google.maps.Size(32, 35))
    })
  </script>
<% end %>

<p>
  <b><%= Stadium.human_attribute_name :name %>:</b>
  <%= @stadium.name %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :ranking %>:</b>
  estrellas
</p>

<p>
  <b><%= Stadium.human_attribute_name :address %>:</b>
  <%= @stadium.address %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :phone_one %>:</b>
  <%= @stadium.phone_one %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :phone_two %>:</b>
  <%= @stadium.phone_two %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :website %>:</b>
  <%= link_to @stadium.website, @stadium.website if @stadium.website.present? %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :email %>:</b>
  <%= mail_to @stadium.email  %>
</p>

<p>
  <b><%= Stadium.human_attribute_name :description %>:</b>
  <%= @stadium.description %>
</p>

<p>
  <%= image_tag @stadium.logo.url(:medium) %>
</p>

<div id="map"></div>


<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadiums_path %>
