<% if user_signed_in? %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag('icn_iso_toolbar.png', :alt => t(:app_name)), root_path, :class => "brand" %>
        <div class="container nav-collapse">
          <ul class="nav">
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to t(:history, :scope => [:navigation]), matches_path, :class => "btn-nav record" %></li>
            <li><a href="#invite_friends_to_register_modal" role="button" class="btn-nav invite" data-toggle="modal">Invitá a tus amigos</a>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                <%= image_tag current_user.avatar.url(:mini), :title => current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu user">
                <li><%= link_to "Perfil", profile_path %></li>
                <li><%= link_to "Chau", logout_path %></li>
              </ul>
              <%= render :partial => 'common/flash', :locals => { :flash => flash } %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
<% end %>