<li class="notifications dropdown">
  <a href="#" class="dropdown-toggle read" data-toggle="dropdown">
    <%= Notification.for_user(current_user).unread.count %>
  </a>
  <% if Notification.for_user(current_user).latest_first.any? %>
    <ul class="dropdown-menu">
      <% Notification.for_user(current_user).latest_first.each do |notification| %>
        <%= display_notification notification %>
      <% end %>
    </ul>
  <% end -%>
</li>