<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <link href="/favicon.ico" rel="shortcut icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <% if request.host == 'fobalhero.com' or request.host == 'www.fobalhero.com' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35835100-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>

<body class="public <%= safe_controller_name %> <%= safe_action_name %>" data-controller="<%= safe_controller_name %>" data-action="<%= safe_action_name %>">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag('icn_iso_toolbar_black.png', :alt => t(:app_name)), root_path, :class => "brand" %>
        <div class="container nav-collapse">
          Ingresá con: <%= link_to "facebook", user_omniauth_authorize_path(:facebook), :class => "btn-fb" %> ...o con:
          <%= simple_form_for(User.new, :url => session_path(User.new)) do |f| %>
          <%= f.input :email, :label => false, :input_html => { :placeholder => 'E-mail'} %>
          <%= f.input :password, :label => false, :input_html => { :placeholder => 'Password'} %>
          <%= f.submit "Entrar", :class => 'btn btn-primary' %>
          <% end %>
          <%= render :partial => 'common/flash', :locals => { :flash => flash } %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="row">
        <div class="main-content span12">
          <%= yield %>
        </div>
      </div><!--/row-->
    </div><!--/content-->
  </div><!--/content-->

<% if content_for? :under_content %>
  <div class="under-content">
    <%= yield :under_content %>
  </div>
<% end %>

  <div class="container">
    <footer>
      <p>&copy; <%= t :app_name %> <%= Date.today.year %></p>
    </footer>

  </div> <!-- /container -->

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>
  <% if content_for? :javascript %>
    <%= yield :javascript %>
  <% end %>

</body>
</html>
