<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <link href="/favicon.ico" rel="shortcut icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">

  <%= javascript_include_tag "application" %>
  <%= yield :javascript if content_for? :javascript -%>

  <% if request.host == 'fobalhero.com' or request.host == 'www.fobalhero.com' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35835100-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>
<body class="logged <%= safe_controller_name %> <%= safe_action_name %>" data-controller="<%= safe_controller_name %>" data-action="<%= safe_action_name %>">

  <%= render :partial => 'common/navigation' %>

  <% unless header_not_required? %>
    <div class="header-site">
      <div class="container">
        <div class="content">
          <div class="row header-content">
            <div class="span3">
              <%= link_to image_tag("logo_192.png"), root_path %>
            </div>
            <div class="span9">
              <div class="pre-content">
                <h1>CONTROL MAESTRO DEL FUTBOL <%= link_to image_tag("icn_all_header.png"), root_path %></h1>
                <p>Fobal Hero te permite registrarte como <strong>jugador</strong> para luego organizar <strong>partidos</strong> e invitar a tus amigos.
Proximamente podrás crear tu <strong>equipo</strong> y participar en <strong>campeonatos</strong> hasta llegar a ser un heroe del fútbol.</p>
              </div>
            </div>
          </div>
        </div><!--/row-->
      </div><!--/content-->
    </div>
  <% end %>

  <div class="main-content-wrapper">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="main-content <%= content_for?(:sidebar) ? "span9" : "span12" %>">
                <%= yield %>
              </div>
              <% if content_for? :sidebar %>
              <div class="sidebar span3">
                <%= link_to new_match_path, :class => "new-match-btn" do %>
                  <div class="icon"></div>
                  <%= t(:new_match, :scope => [:actions]) %>
                <% end %>
                <%= yield :sidebar %>
              </div>
              <% end %>
            </div>
          </div>
        </div><!--/row-->
      </div><!--/content-->

    </div><!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- logo...  iconos...  links...  redes sociales. -->
          </div>
        </div>
      </div>
      <div class="bar-bottom">
        <div class="copyright">
          &copy; <%=t :app_name %> <%= Date.today.year %>  |  <a href="#" class="footer-link">Como funciona Fobal Hero?</a>  |  <a href="#" class="footer-link">Faq</a>  |  <a href="#" class="footer-link">Terminos Legales</a>
        </div>
      </div>
    </footer>

  </div><!-- /main-content-wrapper -->

  <div id="invite_friends_to_register_modal" class="popup modal fade" tabindex="-1" role="dialog" aria-labelledby="invite_friends_to_register_label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3 id="invite_friends_to_register_label"><%= t(:invite_to_register, :scope => [:titles, :friends]) %></h3>
    </div>
    <%= simple_form_for :invite, :url => invitations_to_register_index_path, :remote => true, :html => { :id => 'invite_to_register' } do |f| %>
      <div class="modal-body">
        <p>Invitá a tus amigos a registrarse escribiendo sus emails en este campo y separándolos por una coma</p>
        <%= f.input :emails, :as => :text, :label => false, :required => true, :input_html => { :rows => 3, :class => 'autogrow' } %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Invitar!", :class => 'btn btn-primary pull-right' %>
      </div>
    <% end %>
  </div>

</body>
</html>
